{# src/eveg/UserBundle/Resources/views/Security/register.html.twig #}
{# overload register.html.twig from FOSUserBundle #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ 'layout.register'|trans({}, 'FOSUserBundle') }} | {{ parent() }}
{% endblock %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}

	{% block fos_user_content %}

		{#<div id="login-error-message" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
			{% if error %}
			    <div class="alert alert-danger alert-dismissible" role="alert">
			    	{{ error.messageKey|trans(error.messageData, 'security') }}
			    </div>
			{% endif %}
		</div>#}

		<div id="form_login" class="col-md-offset-4 col-md-5 col-sm-offset-3 col-sm-6 col-xs-12">

			<form method="post" action="{{ path('fos_user_registration_register') }}">
				<div class="form-group login-title">
					<h2>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h2>
				</div>

				<div class="row row-no-margin form-horizontal">
					{{ form_errors(form.fullName) }}
					<div class="col-sm-4">
						{{ form_label(form.fullName, 'security.login.fullName'|trans({}, 'FOSUserBundle')) }}
					</div>
					<div class="col-sm-8">
						{{ form_widget(form.fullName) }}
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					{{ form_errors(form.username) }}
					<div class="col-sm-4">
						{{ form_label(form.username, 'security.login.username'|trans({}, 'FOSUserBundle')) }}
					</div>
					<div class="col-sm-8">
						{{ form_widget(form.username) }}
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					{{ form_errors(form.email) }}
					<div class="col-sm-4">
						{{ form_label(form.email, 'form.email'|trans({}, 'FOSUsuerBundle')) }}
					</div>
					<div class="col-sm-8">
						{{ form_widget(form.email) }}
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					{{ form_errors(form.plainPassword.first) }}
					<div class="col-sm-4">
						{{ form_label(form.plainPassword.first, 'security.login.password'|trans({}, 'FOSUserBundle')) }}
					</div>
					<div class="col-sm-8">
						{{ form_widget(form.plainPassword.first) }}
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					{{ form_errors(form.plainPassword.second) }}
					<div class="col-sm-4">
						{{ form_label(form.plainPassword.second, 'form.password_confirmation'|trans({}, 'FOSUserBundle')) }}
					</div>
					<div class="col-sm-8">
						{{ form_widget(form.plainPassword.second) }}
					</div>
				</div>

				{{ form_row(form._token) }}

				{{ form_rest(form) }}

				<div class="row row-no-margin row-submit-button form-horizontal">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-8">
						<a class="pull-left" href="{{ path('fos_user_security_login') }}">
							<button class="btn btn-default" type="button">
								{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
							</button>
						</a>
						<button class="btn btn-primary pull-right" type="submit button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
							{{ 'layout.register'|trans({}, 'FOSUserBundle') }}
						</button>			
					</div>
				</div>
			</form>
		</div>

	{% endblock %}

{% endblock %}