<div class="panel panel-default" id="panel-synonyms">
	<div class="panel-heading panelSynonymsHeader">{{ 'eveg.app.show_one.panels.synonyms.title'|trans }}{% if synonyms is empty %} : {{ 'eveg.app.show_one.panels.synonyms.no_one'|trans }}{% endif %}<span class="synonymsShowAll li-restricted pull-right">{{ 'eveg.dictionary.show_all'|trans|capitalize }}</span></div>
	<ul class="list-group">
		{% for synonym in synonyms %}
			<li class="list-group-item synonymBox">
				{{ synonymType(synonym.level)|raw }}
				{#<a href="{{ path('eveg_show_one', {'id': synonym.id}) }}">#}
					{{ synonym.syntaxon }}
				{#</a>#}
			</li>
		{% endfor %}
	</ul>
</div> <!-- ./ panel -->