{# src/eveg/UserBundle/Resources/views/Security/login.html.twig #}
{# overload login.html.twig from FOSUserBundle #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ 'layout.login'|trans({}, 'FOSUserBundle') }} | {{ parent() }}
{% endblock %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}

	{% block fos_user_content %}

		<div id="login-error-message" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
			{% if error %}
			    <div class="alert alert-danger alert-dismissible" role="alert">
			    	{{ error.messageKey|trans(error.messageData, 'security') }}
			    </div>
			{% endif %}
		</div>

		<div id="form_login" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">

			<form method="post" action="{{ path("fos_user_security_check") }}">
				<div class="form-group login-title">
					<h2>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
				</div>

				<div class="row row-no-margin form-horizontal">
					<label for="username" class="col-sm-5 control-label">
						{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
					</label>
					<div class="col-sm-7">
						<input type="text" class="col-sm-8 form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					<label for="password" class="col-sm-5 control-label">
						{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
					</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="password" name="_password" required="required" />
					</div>
				</div>

				<div class="row row-no-margin form-horizontal">
					<div class="col-sm-offset-5 col-sm-7">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
								<span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
							</label>
						</div>
					</div>
				</div>

				<div class="row row-no-margin row-submit-button form-horizontal">
					<div class="col-sm-5">
						<a class="pull-left" href="{{ path('fos_user_registration_register') }}">
							<button class="btn btn-default" type="button">
								{{ 'layout.register'|trans({}, 'FOSUserBundle') }}
							</button>
						</a>						
					</div>
					<div class="col-sm-7">
						<button class="btn btn-primary pull-right" type="submit button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
							{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
						</button>
					</div>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			</form>
		</div>

	{% endblock fos_user_content %}

{% endblock %}
