{# app/Resources/views/Admin/importCore.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %} Importer les données syntaxonomiques | {{ parent() }} {% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron admin">
				<h1>Importer les données syntaxonomiques</h1>
			</div>
			
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Attention</h3>
				</div>
				<div class="panel-body">
					Cette procédure écrase toutes les données existantes<br />
					Le format requis en entrée<br />
					- est un .csv, séparateur point-virgule (;)<br />
					- est codé en UTF8<br />
					- les retours à la ligne (Line ending) sont encodés selon le système Unix (LF)
				</div>
			</div>

			<div class="well">
				<ul>
					<form action="{{ path('eveg_admin_import_baseveg_core') }}" method="post" {{ form_enctype(form) }}>
						
					    {{ form_widget(form) }}
					    <input type="submit" />
					</form>
				</ul>
			</div>

			{% if (countIsUpToDate is not empty) or (countToUpdate is not empty) or (countToCreate is not empty) or (countToRemove is not empty) %}
				<div class="row">
					<div class="col-md-3">
						{% if onlyLog == true %}
							<div class="thumbnail"><div class="caption text-center">
								<p>Données à jour :</p>
								<p class="_2em">{{ countIsUpToDate }}</p>
								<p>
									{% if fileLogIsUpToDate is not empty %}
										<a href="../../../uploads/import/logs/{{ fileLogIsUpToDate }}" target="_blank">Afficher le log</a>
									{% else %}
										<p>-</p>
									{% endif %}
								</p>
							</div></div>
						{% else %}
							
						{% endif %}
					</div>
					<div class="col-md-3">
						{% if onlyLog == true %}
							<div class="thumbnail"><div class="caption text-center">
								<p>Données à mettre à jour :</p>
								<p class="_2em">{{ countToUpdate }}</p>
								<p>
									{% if fileLogToUpdate is not empty %}
										<a href="../../../uploads/import/logs/{{ fileLogToUpdate }}" target="_blank">Afficher le log</a>
									{% else %}
										<p>-</p>
									{% endif %}
								</p>
							</div></div>
						{% else %}
							
						{% endif %}

					</div>
					<div class="col-md-3">
						{% if onlyLog == true %}
							<div class="thumbnail"><div class="caption text-center">
								<p>Données à créer :</p>
								<p class="_2em">{{ countToCreate }}</p>
								<p>
									{% if fileLogToCreate is not empty %}
										<a href="../../../uploads/import/logs/{{ fileLogToCreate }}" target="_blank">Afficher le log</a>
									{% else %}
										<p>-</p>
									{% endif %}
								</p>
							</div></div>
						{% else %}
							
						{% endif %}
						
					</div>
					<div class="col-md-3">
						{% if onlyLog == true %}
							<div class="thumbnail"><div class="caption text-center">
								<p>Données à supprimer :</p>
								<p class="_2em">{{ countToRemove }}</p>
								<p>
									{% if fileLogToRemove is not empty %}
										<a href="../../../uploads/import/logs/{{ fileLogToRemove }}" target="_blank">Afficher le log</a>
									{% else %}
										<p>-</p>
									{% endif %}
								</p>
							</div></div>
						{% else %}
							
						{% endif %}
						
					</div>
					
				</div>
			{% endif %}

		</div>

	</div>


{% endblock %}
