{# app/Resources/views/Admin/importCore.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %} Importer les données syntaxonomiques | {{ parent() }} {% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row">
		<div class="col-md-12">
			<h1>Importer les données syntaxonomiques</h1>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Attention</h3>
				</div>
				<div class="panel-body">
					Cette procédure écrase toutes les données existantes<br />
					Le format requis en entrée<br />
					- est un .csv, séparateur point-virgule (;)<br />
					- est codé en UTF8<br />
					- les retours à la ligne (Line ending) sont encodés selon le système Unix (LF)
				</div>
			</div>

			<form action="{{ path('eveg_admin_import_baseveg_core') }}" method="post" {{ form_enctype(form) }}>
				
			    {{ form_widget(form) }}
			    <input type="submit" />
			</form>

			<p><b>Données à jour          : {{ countIsUpToDate }}</b></p>
			<p>Log is up to date : </p>
			{#<p style="color: green;">{{ logIsUpToDate|raw }}</p>#}
			<p><b>Données à mettre à jour : {{ countToUpdate }}</b></p>
			<p>Log to update: <p>
			<p>{{ logToUpdate|raw }}</p>
			<p><b>Données à créer         : {{ countToCreate }}</b></p>

		</div>


	</div>


{% endblock %}
