{# app/Resources/views/Admin/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}eVeg Admin{% endblock %}</title>

	{% block stylesheets %}
		{% stylesheets filter="?yui_css, cssrewrite" output="css/vendors.css"
			"@evegAppBundle/Resources/public/css/bootstrap.css"
			"./css/jquery-ui.min.css"
			"@evegAppBundle/Resources/public/css/animate.css"
			%}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}

		{% stylesheets filter="cssrewrite,compass,?yui_css" output='css/main.css'
			"@evegAppBundle/Resources/assets/sass/evegSyntaxonText.scss"
			"@evegAppBundle/Resources/assets/sass/bootstrapFrontCustom.scss"
			"@evegAppBundle/Resources/assets/sass/evegSearchEngine.scss"
			"@evegAppBundle/Resources/assets/sass/evegTree.scss"
			"@evegAppBundle/Resources/assets/sass/maps.scss"
			"@evegAppBundle/Resources/assets/sass/modalRepartitionFilters.scss"
			"@evegAppBundle/Resources/assets/sass/activities.scss"
			"@evegAppBundle/Resources/assets/sass/fileForm.scss"
			"@evegAppBundle/Resources/assets/sass/httpLinkForm.scss"
			"@evegAppBundle/Resources/assets/sass/photoForm.scss"
			%}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/flag-icon.min.css') }}" type="text/css"/>
		
		<style>body{background-image:url({{ asset('img/patterns/grey.png') }});}</style>
	{% endblock %}

</head>

<body data-spy="scroll" data-target="#navbar">
	<!-- KnpMenuBundle -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			{# Brand and toggle get grouped for better mobile display #}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				{% if app.environment != 'preprod' %}
					<a class="navbar-brand" href="{{ path('eveg_app_homepage') }}">{{ 'eveg.title'|trans }}</a>
				{% else %}
					<a class="navbar-brand" href="{{ path('eveg_app_homepage') }}" style="color: red !important;">{{ 'eveg.title'|trans }} Pre-prod</a>
				{% endif %}
			</div>
	
			{# Collect the nav links, forms, and other content for toggling #}
			<div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
				{{ knp_menu_render('evegAppBundle:MenuBuilder:dashboardMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
				{{ knp_menu_render('adminPages', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
				{{ knp_menu_render('evegUserRepartitionBundle:MenuBuilder:repartitionMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
				{{ knp_menu_render('evegAppBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
			</div>
		</div> <!-- ./container-fluid -->
	</div> <!-- /.navbar -->

	
	
	<!-- Outside of Bootstrap container -->
	{% block beforeContainer %}
	{% endblock %}

	<!-- Bootstrap container -->
	<div class="container-fluid">
		{% block body %}
			
		{% endblock %}
	</div>

{% block javascript %}
	{% javascripts filter="?yui_js" output="js/vendors_admin.js"
		'@evegAppBundle/Resources/public/js/jquery/jquery-2.1.3.min.js'
		'@evegAppBundle/Resources/public/js/jquery/jquery-ui.min.js'
		'@evegAppBundle/Resources/public/js/jquery/jquery.cookie.js'
		'@evegAppBundle/Resources/public/js/bootstrap/bootstrap.min.js'
		'@evegAppBundle/Resources/public/js/bootstrap/bootstrap-notify.min.js'
		%}

		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

	{# Flash messages #}
	{% for type, flashMessage in app.session.flashbag.all() %}
		{% for message in flashMessage %}
			<script>
				$.notify({
					// options
					message: '{{ message }}'
				},{
					type: '{{ type }}'
				});
			</script>
		{% endfor %}
	{% endfor %}
	
	<!-- TOOLTIP ACTIVATION -->
	<script>
		$('a, li').tooltip();
		$(".showTooltip").tooltip({html:true});
		$('[data-tooltip="tooltip"]').tooltip();
	</script>
	
{% endblock %}
</body>
</html>