{# src/eveg/AppBundle/Resources/views/Admin/test.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %}
	Test |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/fancytree/skin-win8/ui.fancytree.min.css') }}" type="text/css" />
{% endblock %}

{% block body %}
	<div class="col-md-4">
		<div id="tree">
			MENU
		</div>
	</div>
	<div class="col-md-8">
		Contenu<br />
		Code : {{ testCode }}<br />
		nbSlashes : {{ nbSlashes }}<br />
		firstSlash : {{ fs }}<br />
		lastSlash : {{ ls }}<br />
		habCode : {{ habCode }}<br />
		coreCode : {{ coreCode }}<br />
		assCode : {{ assCode }}<br />
		exploded : 
			{% for e in exploded %}		
				{{ e }}
			{% endfor %}<br />
		cleaned : {{ cleaned }}<br />
		level : {{ level }}<br />
		parentCode : {{ parentCode }}<br />
		allParentsCodes:<br />
			{% for parentCode in parentsCodes %}
				{{ parentCode }}<br />
			{% endfor %}
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.fancytree-all.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>

	<!-- Initialize the tree when page is loaded -->
	<script type="text/javascript">
		$(function(){
			// Create the tree inside the <div id="tree"> element.
			$("#tree").fancytree({
				source: {
					url: "{{ path('api_get_syntaxon_tree') }}"
				}
			});
		});
	</script>
	
{% endblock %}