<div class="row cardHeader viewHeader-{{ syntaxon.level }}">
	<div class="cardHeaderTitle">
		<h1>
			{{ syntaxon.syntaxonName }} <span class="viewHeaderAuthor">{{ syntaxon.syntaxonAuthor }}</span>
		</h1>
		<h2>
			{% if app.request.locale == 'fr' %}
				{{syntaxon.commonName}}
			{% else %}
				{% if syntaxon.commonNameEn is not empty %}
					{{syntaxon.commonNameEn}}
				{% else %}
					{{syntaxon.commonName}} <span class="showTooltip" data-toggle="tooltip" title="English translation not available. Fallback in french."><i class="fa fa-info-circle" ></i></span>
				{% endif %}
			{% endif %}
		</h2>
	</div>
	{% if showOptionsPanel == true %}
		<div class="cardHeaderOptions">

			{{ render(controller("evegAppBundle:Default:panelOptions", {
				'syntaxonId': syntaxon.id,
				'syntaxonName': syntaxon.syntaxon,
				'syntaxonLevel': syntaxon.level,
				'about': 'syntaxon',
				'showFeedback': true,
				'showCompare': true,
				'showPdfExport': false
			})) }}
		</div>
	{% endif %}

</div>