<div class="options_panel">
	{% if syntaxonLevel is not empty %} {% set level = syntaxonLevel %} {% else %} {% set level = 'NONE' %} {% endif %}

	{# FEEDBACK #}
	{% if showFeedback == true %}
		<div class="options_panel_icon {{ level }}" data-tooltip="tooltip" data-placement="bottom" title="Signaler un problème, une erreur ou faire un commentaire à propos de cette fiche." data-toggle="modal" data-target="#modalFeedbackSyntaxon">
			<i class="fa fa-comment"></i>
		</div>
	{% endif %}

	{# COMPARE #}
	{% if showCompare == true %}
		<div id="compareOption" class="options_panel_icon {{ level }}" data-tooltip="tooltip" title="Comparer deux syntaxons." data-placement="left" data-toggle="modal" data-target="#modalCompare">
			<i class="fa fa-files-o"></i>
		</div>
	{% endif %} 

	{# PDF EXPORT #}
	{% if (showPdfExport == true) and (syntaxonId is defined) and (syntaxonId is not empty) %}
		<a class="options_panel_icon {{ level }} no-style" href="{{ path('eveg_download_pdf', {'id' : syntaxonId}) }}" rel="nofollow">
			<div class="icon-last" data-tooltip="tooltip" data-placement="bottom" title="Télécharger la fiche en Pdf.">
				<i class="fa fa-file-pdf-o"></i>
			</div>
		</a>
	{% endif %}
</div>
<!--	</div>
</div>-->

<!-- MODALS -->
<!-- Feedback syntaxon modal-->
{% if showFeedback == true %}
	<div class="modal fade" id="modalFeedbackSyntaxon" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackSyntaxon">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title text-center" id="modalDepFilter">
						{{ 'eveg.app.show_one.feedback.syntaxon.title'|trans }}
					</h4>
				</div>
				<form id="ajaxFormSyntaxonFeedback" {#action="{{ path('eveg_feedback_syntaxon') }}" method="POST"#}>
					<div class="modal-body">
						<div class="row">
							<div id="ajaxFeedbackResponse"></div>
							<div>
								{{ 'eveg.app.show_one.feedback.syntaxon.message'|trans }}
							</div>
							{{ formFeedbackSyntaxon|raw }}
						</div> <!-- ./row -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							<button id="feedback-submit" type="button submit" class="btn btn-primary"><i id="feedback-spin" class="fa fa-circle-o-notch fa-spin"></i><span id="feedback-submit-text">Envoyer</span></button>
						</div> 
					</div> <!-- ./modal-body -->
				</form>
			</div> <!-- ./modal-content -->
		</div> <!-- ./modal-dialog -->
	</div> <!-- ./modal -->
{% endif %}

<!-- Compare syntaxon modal-->
{% if showCompare == true %}
	<div class="modal fade" id="modalCompare" tabindex="-1" role="dialog" aria-labelledby="modalCompare">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title text-center" id="modalDepFilter">Comparer deux syntaxons</h4>
				</div>
				<div id = "comparator" class="modal-body">
					<div id="comparatorItems"></div>
					<div id="comparatorButtons"></div>
				</div>
			</div> <!-- ./modal-content -->
		</div> <!-- ./modal-dialog -->
	</div> <!-- ./modal -->
{% endif %}

