<div class="thumbnail thumb-blue">
	<div class="caption">
		{#<h2>{{ 'eveg.homepage.participate.title'|trans }}</h2>#}
		<h2 class="participateTitle">{{ 'eveg.homepage.participate.currently.title'|trans }}</h2>
		<div class="infosNbItemsParticipate">
			<div class="partiticpateItem">
				<div class="partiticpateItemNb">{{ nbCards|number_format(0, '.', ' ') }}</div>
				<div class="partiticpateItemLabel">{{ 'eveg.homepage.participate.currently.nbCards'|trans|nl2br }}</div>
			</div>
			<div class="partiticpateItem">
				<div class="partiticpateItemNb">{{ nbDocs|number_format(0, '.', ' ') }}</div>
				<div class="partiticpateItemLabel">{{ 'eveg.homepage.participate.currently.nbDocuments'|trans|nl2br }}</div>
			</div>
			<div class="partiticpateItem">
				<canvas id="syntaxonsNbChart" width="auto" height="100%"></canvas>
				<div class="partiticpateItemLabel">Répartition des syntaxons par niveau</div>
			</div>
			{#{% if (wanted is defined) and (wanted is not empty) and (wanted|length >= 2) %}
				<div class="partiticpateItem hidden-xs">
					<div class="partiticpateItemNb">{{ nbTotalWanted }}</div>
					<div class="partiticpateItemLabel">{{ 'eveg.homepage.participate.currently.nbWaiting'|trans|nl2br }}</div>
				</div>
			{% endif %}#}
		</div>
		<p>{{ 'eveg.homepage.participate.addDocuments'|trans }}</p>
		<p class="text-center">
			<a class="no-style" href="{{ path('eveg_app_participate') }}">
				<button type="button" class="btn btn-default">
				{{ 'eveg.homepage.participate.title'|trans }}
				</button>
			</a>
		</p>
	</div>
</div> <!-- thumbnail-->