{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	
	<title>{% block title %}eVeg{% endblock %}</title>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		{% stylesheets filter="compass" 
			"@evegAppBundle/Resources/assets/sass/evegSyntaxonText.scss"
			"@evegAppBundle/Resources/assets/sass/bootstrapFrontCustom.scss"
			"@evegAppBundle/Resources/assets/sass/evegSearchEngine.scss"
			"@evegAppBundle/Resources/assets/sass/evegTree.scss"
			"@evegAppBundle/Resources/assets/sass/maps.scss"
			"@evegAppBundle/Resources/assets/sass/modalRepartitionFilters.scss"
		%}
		{# evegSearchEngine.scss should be moved to subViews (homepage / app) #}
		<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/flag-icon.min.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		
		{% stylesheets
			'@evegAppBundle/Resources/public/css/animate.css'%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		
		
		<style>body{background-image:url({{ asset('img/patterns/grey.png') }});}</style>
	{% endblock %}
</head>

<body>
	<!-- KnpMenuBundle -->
	<div class="navbar navbar-default role="navigation"">
		<div class="container-fluid">
			{# Brand and toggle get grouped for better mobile display #}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('eveg_app_homepage') }}">eVeg</a>
			</div>
	
			{# Collect the nav links, forms, and other content for toggling #}
			<div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
				{{ knp_menu_render('evegAppBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
				{{ knp_menu_render('evegAppBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig'}) }}
				{{ knp_menu_render('evegAppBundle:MenuBuilder:languageMenu', {'currentClass': 'active', 'template': 'evegAppBundle:Menu:knp_menu.html.twig' }) }}
			</div>
		</div> <!-- ./container-fluid -->
	</div> <!-- /.navbar -->

	
	
	<!-- Outside of Bootstrap container -->
	{% block beforeContainer %}
	{% endblock %}

	<!-- Body container -->
	<div class="container-fluid">
		{% block body %}
		{% endblock %}
	</div>

	<!-- Footer container -->
	<div class="container-fluid container-footer">
		<div class="footer">
			{% block footer %}
				AZE
			{% endblock %}
		</div>
	</div>

	{% block javascript %}
		<script src="{{ asset('js/jquery-2.1.3.min.js') }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
		{% javascripts 
			'@evegAppBundle/Resources/public/js/bootstrap-notify.min.js'%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<!-- FLASH MESSAGES -->
		{% for type, flashMessage in app.session.flashbag.all() %}
			{% for message in flashMessage %}
				<script>
					$.notify({
						// options
						message: '{{ message }}'
					},{
						type: '{{ type }}'
					});
				</script>
			{% endfor %}
		{% endfor %}
		
		<!-- TOOLTIP ACTIVATION -->
		<script>
			$('a, li').tooltip();
			$(".showTooltip").tooltip({html:true});
			$('[data-tooltip="tooltip"]').tooltip();
		</script>
		
	{% endblock %}
</body>
</html>