<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			h1 {font-size: 20px;margin-top: 15px;}
			tr.highlight td {background-color: #F1F1F1;}
			.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto; border: none;}
			.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;word-break:normal;}
			.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;word-break:normal;}
			.tg .tg-7imu{font-weight:bold;font-size:22px;background-color:#FFF;color:#000;text-align:center;vertical-align:top}
			.tg .tg-3we0{background-color:#FFF;vertical-align:top}
			@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}
			tbody {border-color: #FFF; border-style: none; border-width: 0px;}
		</style>
	</head>

	<body>
		<div class="tg-wrap">
			<table class="tg" style="undefined;table-layout: fixed; width: 767px;">
				<colgroup>
					<col style="width: 102px">
					<col style="width: 665px">
				</colgroup>
				<tbody>
					<tr>
						<th class="tg-7imu">
							<img src="http://www.e-veg.net/img/logo-min.png" alt="eVeg" style="width: 130px;"/>
						</th>
						<th style="width:auto;">
							<h1>| {{ 'eveg.newsletter.last_up.title'|trans }}</h1>
						</th>
					</tr>
				</tbody>
			</table>
			<hr />
			<table class="tg" style="undefined;table-layout: fixed; width: 767px;">
				<tbody>
					<colgroup>
						<col style="width: 727px;">
						<col style="width: 40px !important;">
					</colgroup>

					{% if since == 'day' %} {% set when = 'eveg.newsletter.last_up.date.day'|trans %} {% endif %}
					{% if since == 'week' %} {% set when = 'eveg.newsletter.last_up.date.week'|trans %} {% endif %}
					{% if since == 'month' %} {% set when = 'eveg.newsletter.last_up.date.month'|trans %} {% endif %}
					<tr><td>
						<p>
							{#Bonjour, <br /><br />Depuis {{ when }}, {{ news|length }} nouveaux fichiers ont été ajoutés sur eVeg :#}
							{{ 'eveg.newsletter.last_up.hello'|trans({'%when%': when, '%how-many%': news|length})|nl2br }}
						</p>
					</td></tr>
					{% for n in news %}

						{% if loop.index is not divisibleby(2) %}
						<tr>
						{% else %}
						<tr style="background-color: #E8F4FF;">
						{% endif %}

						{% if n.type == 'pdf' %} {% set docType = 'eveg.file.type.pdf'|trans %} {% endif %}
						{% if n.type == 'spreadsheet' %} {% set docType = 'eveg.file.type.spreadsheet'|trans %} {% endif %}
						{% if n.type == 'photo' %} {% set docType = 'eveg.file.type.photo'|trans %} {% endif %}
						{% if n.type == 'httplink' %} {% set docType = 'eveg.file.type.link'|trans %} {% endif %}
							<td class="">
								le {{ n.datetime|localizeddate('medium', 'medium', format='dd MMM yyyy')}},
								<b>{{ n.user }}</b> {{ 'eveg.dictionary.added'|trans }} {{ docType }}<br />
								{{ 'eveg.dictionary.for'|trans }} : {{ n.syntaxon }}<br />
								{% if n.title is not empty %}
									(<i>{{ n.title }}</i>)
								{% endif %}
							</td>
							{% if loop.index is not divisibleby(2) %}
							<td class="go" style="background-color: #F7F7F7;">
							{% else %}
							<td class="go" style="background-color: #E1EFFB;">
							{% endif %}

								<a href="http://www.e-veg.net/app/{{ n.syntaxon_id }}" style="color: #000; text-decoration: none;font-size: 34px;text-align: center;" title="{{ 'eveg.newsletter.last_up.go'|trans }}"> > </a>
							</td>
						</tr>
					{% endfor %}
					<br /><br />
					<tr>
						<td class="tg-3we0">{{ 'eveg.newsletter.last_up.bye'|trans }}</td>
						<td class="tg-3we0"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>