{# src/eveg/AppBundle/Resources/views/Default/howto.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ 'eveg.about.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row whiteRow scrollspy">
		<div class="jumbotron about">
			<h1>{{ 'eveg.about.title'|trans }}</h1>
		</div>

		<div class="col-md-3 hidden-xs" id="navbar">
			<ul id="nav" class="nav nav-pills nav-stacked">
				<li class=""><a href="#authors">
					{{ 'eveg.about.authors.title'|trans }}
				</a></li>
				<li><a href="#baseveg-baseflor">
					{{ 'eveg.about.baseveg_baseflor.title'|trans }}
				</a></li>
				{#<li><a href="#catminat">
					{{ 'eveg.about.catminat_code.title'|trans }}
				</a></li>#}
				<li><a href="#license">
					{{ 'eveg.about.license.title'|trans }}
				</a></li>
				{#<li><a href="#api">
					{{ 'eveg.about.api.title'|trans }}
				</a></li>#}
			</ul>
		</div>
		<div class="col-md-7">
			
			<p>{{ 'eveg.about.presentation.1'|trans }}</p>
			<p>{{ 'eveg.about.presentation.2'|trans }}</p>
			<p>{{ 'eveg.about.presentation.3'|trans }}</p>

			<div class="" id="authors">
				<h2>{{ 'eveg.about.authors.title'|trans }}</h2>
				<p>{{ 'eveg.about.authors.1'|trans }},</p>
				<p>{{ 'eveg.about.authors.2'|trans }},</p>
				<p>{{ 'eveg.about.authors.3'|trans }},</p>
				<p>{{ 'eveg.about.authors.4'|trans }},</p>
				<p>{{ 'eveg.about.authors.5'|trans }}.</p>
			</div>

			<div class="" id="baseveg-baseflor">
				<h2>{{ 'eveg.about.baseveg_baseflor.title'|trans }}</h2>
				<p class="text-justify">
					{{ 'eveg.about.baseveg_baseflor.1'|trans|nl2br }}
				</p>
			</div>

			{#
			<div class="" id="catminat">
				<h2>{{ 'eveg.about.catminat_code.title'|trans }}</h2>
				<p class="text-justify">
					{{ 'eveg.about.catminat_code.1'|trans|nl2br }}
				</p>
				<p>
					{{ 'eveg.about.catminat_code.2'|trans|nl2br }}
				</p>
				<p id="help-catminat-ex">
					<span class="HAB-text">12</span>
					/
					<span class="CLA-text">1.2</span>
					.
					<span class="ORD-text">1.1</span>
					.
					<span class="ALL-text">1.0</span>
					.
					<span class="ASSGR-text">1</span>
					/
					<span class="ASS-text">01</span>
				</p>
				<p>
					<span class="HAB-text">12 <span class="HAB-indent">{{ 'eveg.about.catminat_code.hab'|trans }}</span></span><br/>
					<span class="CLA-text">1.2 <span class="CLA-indent">{{ 'eveg.about.catminat_code.cla'|trans }}</span></span><br/>
					<span class="ORD-text">1.1<span class="ORD-indent">{{ 'eveg.about.catminat_code.ord'|trans }}</span></span><br/>
					<span class="ALL-text">1.0<span class="ALL-indent">{{ 'eveg.about.catminat_code.all'|trans }}</span></span><br/>
					<span class="ASSGR-text">1<span class="ASSGR-indent">{{ 'eveg.about.catminat_code.assgr'|trans }}</span></span><br/>
					<span class="ASS-text">01<span class="ASS-indent">{{ 'eveg.about.catminat_code.ass'|trans }}</span></span><br/>
				</p>
			</div>
			#}

			<div class="" id="license">
				<h2>{{ 'eveg.about.license.title'|trans }}</h2>
				<p class="text-justify">
					{{ 'eveg.about.license.db'|trans|nl2br }}
				</p>
				<p class="text-justify">
					{{ 'eveg.about.license.website'|trans({'%link%': '<a href="https://github.com/steph-del/eveg">https://github.com/steph-del/eveg</a>'})|raw|nl2br }}
				</p>
				<p class="text-justify">
					{{ 'eveg.about.license.photos'|trans|nl2br }}
				</p>
				<p class="text-justify">
					{{ 'eveg.about.license.documents'|trans|nl2br }}
				</p>
			</div>

			{#<div class="" id="api">
				<h2>{{ 'eveg.about.api.title'|trans }}</h2>
				<p class="text-justify">
					{{ 'eveg.about.api.1'|trans|nl2br }}
				</p>
			</div>#}
		</div>

		<div class="col-md-2">

		</div>

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<!-- Affix menu -->
	<script>
		$('#nav').affix({
			offset: {
				top: $('#nav').offset().top - 20
				/*bottom: function () {
					return (this.bottom = $('.footer').outerHeight(true))
				}*/
			}
		})
	</script>

	<!-- Scrollspy -->
	<!--<script>
		$('.scrollspy').scrollspy({ target: '#nav' })
	</script>-->
{% endblock %}
