{# src/eveg/AppBundle/Resources/views/Default/activity.html.twig #}

{% extends "::layout.html.twig" %}

{# {{ 'eveg.activities.title'|trans|nl2br }} #}
{% block title %}
	{{ 'eveg.activities.title'|trans }} | {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row whiteRow">
		<div class="jumbotron contact">
			<h1>{{ 'eveg.activities.last_activities'|trans }} </h1>
		</div>
		<div class="col-md-8 activityPad">
			{% if newDocuments is defined and newDocuments is not empty %}
				{% for document in newDocuments %}
					{% if not loop.last %}
					<div class="row activityPadLine">
					{% else %}
					<div class="row activityPadLine last">
					{% endif %}
						<div class="col-md-2 activityPadItem text-center hidden-xs">
							<div class="row col-md-12 _2em">
								<i class="fa fa-user"></i>
							</div>
							<div class="row col-md-12">
								{{ document.user }}
							</div>
						</div>
						<div class="col-md-2 activityPadItem text-center hidden-xs">
							<div class="row col-md-12 _2em">
								{% if document.type == 'spreadsheet' %}
									<i class="fa fa-file-excel-o"></i>
								{% elseif document.type == 'pdf' %}
									<i class="fa fa-file-pdf-o"></i>
								{% elseif document.type == 'photo' %}
									<i class="fa fa-camera"></i>
								{% elseif document.type == 'httplink' %}
									<i class="fa fa-external-link"></i>
								{% endif %}
							</div>
							<div class="row col-md-12">
								{{ document.datetime|date('d m y') }}
							</div>
						</div>
						<div class="col-md-7 col-sm-10 activityPadItem data">
							<div class="hidden-sm hidden-md hidden-lg"><b>{{ document.datetime|date('d m y') }}</b></div>
							<b>{{ document.user }}</b> {{ 'eveg.dictionary.added'|trans }} 
							{% if document.type == 'spreadsheet' %}
								{{ 'eveg.dictionary.a_table'|trans }} 
							{% elseif document.type == 'pdf' %}
								{{ 'eveg.dictionary.a_pdf_document'|trans }} 
							{% elseif document.type == 'photo' %}
								{{ 'eveg.dictionary.a_photo'|trans }} 
							{% elseif document.type == 'httplink' %}
								{{ 'eveg.dictionary.a_link'|trans }} 
							{% endif %}
							<br />{{ 'eveg.dictionary.for'|trans }} : {{ document.syntaxon }}
						</div>
						<div class="col-md-1 col-sm-2 activityPadItem text-center _2em">
							<a href="{{ path('eveg_show_one', {'id': document.syntaxon_id}) }}" title="{{ 'eveg.activities.access_syntaxon'|trans }}">
								<i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				{{ 'eveg.activities.no_activities'|trans }}
			{% endif %}
		</div>
		<div class="col-md-4">
			{% if wanted is defined and wanted is not empty %}
				<div class="thumbnail thumb-blue">
					<div class="caption">
						<h2>{{ 'eveg.dictionary.participate'|trans|capitalize }} !</h2>
						<p>
							<span class="badge">{{ nbTotalWanted }}</span>
							{{ 'eveg.activities.participate.slogan'|trans }}
						</p>
						<ul class="list-group">
							{% for docWanted in wanted %}
								<li class="list-group-item">
									<a href="{{ path('eveg_download_file', {'id': docWanted.syntaxonCore.id, 'idFile': docWanted.id}) }}">{{ docWanted.title }}</a><br />
									({{ 'eveg.dictionary.diagnosis_of'|trans }} : <i>{{ docWanted.syntaxonCore.syntaxonName }}</i>)
								</li><br />
							{% endfor %}
							<li class="list-group-item text-center">
								<button type="button" class="btn btn-default">
									<a class="no-style" href="{{ path('eveg_app_participate') }}">Comment participer ?</a>
								</button>
							</li>
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}