{# src/eveg/AppBundle/Resources/views/Default/ #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter="compass" 
		"@evegAppBundle/Resources/assets/sass/httpLinkForm.scss"
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block title %}
	{% if syntaxon is defined %}
		{{ 'eveg.app.show_one.http_link.add.title'|trans }} | {{ syntaxon.syntaxonName }} | {{ parent() }}
	{% endif %}
{% endblock %}

{% set wellHttpLinkSize = 12 %}
{% block body %}

	{{ parent() }}

	<div class="row appShowOne">

		<div class="col-md-offset-2 col-md-8" id="cardView">
			{# Card header #}
			{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon, 'showOptionsPanel': false } only %}

			<div class="row">
				{# Form #}
				<div class="col-md-{{ wellHttpLinkSize }}">

					{{ form_start(form) }}
						{% if not form.vars.valid %}
							<br /><div class="alert alert-danger" role="alert">
								{{ form_errors(form) }}
							</div>
						{% endif %}
					
						<h3>{{ 'eveg.app.show_one.http_link.add.title'|trans }}</h3>
							<ul class="syntaxonHttpLinks" data-prototype="
								{% filter escape %}
									{{ include('evegAppBundle:Default/Fragments/HttpLinkForm:httpLinkFormPrototype.html.twig', { 'form' : form.syntaxonHttpLinks.vars.prototype}) }}
								{% endfilter %}">

							</ul>
					
					{{ form_widget(form._token) }}
					{{ form_end(form, {'render_rest': false}) }}
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript">
		var $collectionHolder;

		// setup an "add a link" link
		var $addHttpLinkLink = $('<a href="#" class="add_http_link_link">{{ "eveg.app.show_one.http_link.add.another"|trans }}</a>');
		var $addHttpLinkLink =  $('<button type="submit" class="btn btn-success">{{ "eveg.app.show_one.http_link.add.another"|trans }}</button>');
		var $newHttpLinkLinkLi = $('<ul class="zero_padding flex"><li class="li_list_style_none"></li><li class="li_list_style_none"></li>{{ include("evegAppBundle:Default/Fragments/HttpLinkForm:httpLinkFormSubmit.html.twig", { "form" : form}) }}</ul>').append($addHttpLinkLink);

		jQuery(document).ready(function() {

		    // Get the ul that holds the collection of SyntaxonHttpLinks
		    $collectionHolder = $('ul.syntaxonHttpLinks');

		    // add the "add a SyntaxonHttpLink" anchor and li to the syntaxonHttpLinks ul
		    $collectionHolder.append($newHttpLinkLinkLi);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    $collectionHolder.data('index', $collectionHolder.find(':input').length);

		    // Add the first httpLinkForm
		    //console.log($collectionHolder.find(':input').length);
		    //if($collectionHolder.find(':input').length == {{ syntaxon.syntaxonFiles|length }}) {
		    	addHttpLinkForm($collectionHolder, $newHttpLinkLinkLi);
		    //}

		    $addHttpLinkLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new syntaxonHttpLink form (see next code block)
		        addHttpLinkForm($collectionHolder, $newHttpLinkLinkLi);
		    });
		});

		function addHttpLinkForm($collectionHolder, $newHttpLinkLinkLi) {
		    // Get the data-prototype explained earlier
		    var prototype = $collectionHolder.data('prototype');

		    // get the new index
		    var index = $collectionHolder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    $collectionHolder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $('<li class="li_list_style_none"></li>').append(newForm);
		    $newHttpLinkLinkLi.before($newFormLi);
		}
	</script>
{% endblock %}