{# src/eveg/AppBundle/Resources/views/Default/compare.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Comparer deux syntaxons | {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

	{# App #}
	<div class="row">
		{# First syntaxon #}
		<div class="col-md-6" id="compareCardLeft">
			{# Card header #}
			{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon1, 'showOptionsPanel': false } only %}

			{# Breadcrumb #}
			{% include 'evegAppBundle:Default/Fragments/CardPanels:breadcrumb.html.twig' with { 'syntaxon': syntaxon1, 'allParents': allParents1 } only %}

			{# Data #}
			<div class="row">
				<div class="col-md-8 viewLeft">

					{# Ecological specifications #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' with { 'syntaxon': syntaxon1 } only %}

					{# Synonyms #}
					{% if synonyms1 is defined %}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' with { 'synonyms': synonyms1 } only %}
					{% endif %}

					{# Floristic cortege #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' with { 'species': species1 } only %}

					{# Resources #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' with { 'syntaxon': syntaxon1 } only %}

					{# Bibliography #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' with { 'syntaxon': syntaxon1, 'synonyms': synonyms1 } only %}

				</div> <!-- ./viewLeft -->

				<div class="col-md-4 viewRight">
					<!-- photos -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:photosPanel.html.twig' with { 'syntaxon': syntaxon1 } only %}

					<!-- Fr departments repartition -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:mapDepFrPanel.html.twig' with { 'showOptions': false, 'uniqueId': 1 } only %}

					<!-- EU+ coutries repartition -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:mapEuropePanel.html.twig' with { 'showOptions': false, 'uniqueId': 1 } only %}

					<!-- Ecological valences -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' with { 'ecologicalValuesAvg': ecologicalValuesAvg1 } only %}
				</div> <!-- ./viewRight -->
			</div> <!-- ./row -->
		</div>





		{# Second syntaxon #}
		<div class="col-md-6" id="compareCardRight">
			{# Card header #}
			{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon2, 'showOptionsPanel': false } only %}

			{# Breadcrumb #}
			{% include 'evegAppBundle:Default/Fragments/CardPanels:breadcrumb.html.twig' with { 'syntaxon': syntaxon2, 'allParents': allParents2 } only %}

			{# Data #}
			<div class="row">
				<div class="col-md-8 viewLeft">

					{# Ecological specifications #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' with { 'syntaxon': syntaxon2 } only %}

					{# Synonyms #}
					{% if synonyms2 is defined %}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' with { 'synonyms': synonyms2 } only %}
					{% endif %}

					{# Floristic cortege #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' with { 'species': species2 } only %}

					{# Resources #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' with { 'syntaxon': syntaxon2 } only %}

					{# Bibliography #}
					{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' with { 'syntaxon': syntaxon2, 'synonyms': synonyms2 } only %}

				</div> <!-- ./viewLeft -->

				<div class="col-md-4 viewRight">
					<!-- photos -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:photosPanel.html.twig' with { 'syntaxon': syntaxon2 } only %}

					<!-- Fr departments repartition -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:mapDepFrPanel.html.twig' with { 'showOptions': false, 'uniqueId': 2 } only %}

					<!-- EU+ coutries repartition -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:mapEuropePanel.html.twig' with { 'showOptions': false, 'uniqueId': 2 } only %}

					<!-- Ecological valences -->
					{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' with { 'ecologicalValuesAvg': ecologicalValuesAvg2 } only %}
				</div> <!-- ./viewRight -->
			</div> <!-- ./row -->
		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<!-- MAP SCRIPTS-->
	{% javascripts filter="?yui_js" output ="js/maps_compare.js"
		'@evegAppBundle/Resources/public/js/maps/raphael-2.1.2.min.js'
		'@evegAppBundle/Resources/public/js/maps/scale.raphael-0.8.js'
		'@evegAppBundle/Resources/public/js/maps/evegMapDepFr.js'
		'@evegAppBundle/Resources/public/js/maps/evegMapEurope.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{# Custom scripts #}
	{% javascripts filter="?yui_js" output ="js/main_compare.js"
		'@evegAppBundle/Resources/public/js/limitVisibleItems.js'
		%}
		<script>
			// Repartition filters var
			appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
			appSessionSF2UeFilter    = '{{ app.session.get("ueFilter") | raw }}';
		</script>
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
		var repDepFr = '{{ repDepFrJson1 | raw }}';
		createMapDepFr(document.getElementById('mapDepFr-1'),
			           document.getElementById('mapDepFrHoverLegend-1'),
			           document.getElementById('mapDepFrLegend-1'),
			           repDepFr,
			           0.55);
		$("#mapDepFrLegend-1").hide();
		$("#mapDepFrToggleLegend-1").click(function(){
			$("#mapDepFrLegend-1").toggle();
		});
	</script>
	<!-- UE map -->
	<script>
		var repUE = '{{ repUeJson1 | raw }}';
		createMapEurope(document.getElementById('mapEurope-1'),
						document.getElementById('mapEuropeHoverLegend-1'),
						document.getElementById('mapEuropeLegend-1'),
						repUE,
						0.55);
		$("#mapEuropeLegend-1").hide();
		$("#mapEuropeToggleLegend-1").click(function(){
			$("#mapEuropeLegend-1").toggle();
		});
	</script>

	<!-- depFr map -->
	<script>
		var repDepFr = '{{ repDepFrJson2 | raw }}';
		createMapDepFr(document.getElementById('mapDepFr-2'),
			           document.getElementById('mapDepFrHoverLegend-2'),
			           document.getElementById('mapDepFrLegend-2'),
			           repDepFr,
			           0.55);
		$("#mapDepFrLegend-2").hide();
		$("#mapDepFrToggleLegend-2").click(function(){
			$("#mapDepFrLegend-2").toggle();
		});
	</script>
	<!-- UE map -->
	<script>
		var repUE = '{{ repUeJson2 | raw }}';
		createMapEurope(document.getElementById('mapEurope-2'),
						document.getElementById('mapEuropeHoverLegend-2'),
						document.getElementById('mapEuropeLegend-2'),
						repUE,
						0.55);
		$("#mapEuropeLegend-2").hide();
		$("#mapEuropeToggleLegend-2").click(function(){
			$("#mapEuropeLegend-2").toggle();
		});
	</script>

	<!-- Limit visible items -->
	<script>
		limitResults(
			3,
			$("#compareCardLeft").find(".synonymsShowAll"),
			$("#compareCardLeft").find(".synonymBox"),
			$("#compareCardLeft").find(".panelSynonymsHeader"));
		limitResults(
			3,
			$("#compareCardLeft").find(".filesShowAll"),
			$("c#ompareCardLeft").find(".fileBox"),
			$("#compareCardLeft").find(".panelFilesHeader"));
		limitResults(
			3,
			$("#compareCardLeft").find(".bibliosShowAll"),
			$("#compareCardLeft").find(".biblioBox"),
			$("#compareCardLeft").find(".panelBibliosHeader"));
		limitResults(
			100,
			$("#compareCardLeft").find(".ecologyShowAll"),
			$("#compareCardLeft").find(".ecologyBox"),
			$("#compareCardLeft").find(".panelEcologyHeader"));
		limitResults(
			10,
			$("#compareCardLeft").find(".speciesShowAll"),
			$("#compareCardLeft").find(".speciesBox"),
			$("#compareCardLeft").find(".panelSpeciesHeader"));

		//

		limitResults(
			3,
			$("#compareCardRight").find(".synonymsShowAll"),
			$("#compareCardRight").find(".synonymBox"),
			$("#compareCardRight").find(".panelSynonymsHeader"));
		limitResults(
			3,
			$("#compareCardRight").find(".filesShowAll"),
			$("c#ompareCardRight").find(".fileBox"),
			$("#compareCardRight").find(".panelFilesHeader"));
		limitResults(
			3,
			$("#compareCardRight").find(".bibliosShowAll"),
			$("#compareCardRight").find(".biblioBox"),
			$("#compareCardRight").find(".panelBibliosHeader"));
		limitResults(
			100,
			$("#compareCardRight").find(".ecologyShowAll"),
			$("#compareCardRight").find(".ecologyBox"),
			$("#compareCardRight").find(".panelEcologyHeader"));
		limitResults(
			10,
			$("#compareCardRight").find(".speciesShowAll"),
			$("#compareCardRight").find(".speciesBox"),
			$("#compareCardRight").find(".panelSpeciesHeader"));
	</script>

	<!-- highlight different ecology items -->
	<script>
		var nbEcologicalItems1 = $("#compareCardLeft").find(".ecology-panel").find("li").length;
		var nbEcologicalItems2 = $("#compareCardLeft").find(".ecology-panel").find("li").length;

		if (nbEcologicalItems1 == nbEcologicalItems2) {
			for (var i = 1; i <= nbEcologicalItems1; i++) {
				$eco1 = $("#compareCardLeft").find(".ecology-"+i);
				$eco2 = $("#compareCardRight").find(".ecology-"+i);
				if($eco1.html() != $eco2.html())
				{
					$eco1.css('background-color', 'rgb(255, 247, 147)');
					$eco2.css('background-color', 'rgb(255, 247, 147)');
				}
			};
		};
	</script>

{% endblock %}