{# src/eveg/AppBundle/Resources/views/Default/contact.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} : contact
{% endblock %}

{% block navbar_path_context %}
	<li><a href="{{ path('eveg_app_homepage') }}" title="Accueil"><span class="glyphicon glyphicon-home"></span></a></li> 
	<li><a href="{{ path('eveg_app_howto') }}" title="Comment utiliser eVeg ?">Utiliser</a></li>
	<li><a href="#" title="Participer à eVeg ?">Participer</a></li>
	<li><a href="#" title="Outils">Outils</a></li>
	<li class="active"><a href="{{ path('eveg_app_contact') }}" title="Contacter les auteurs">Contact</a></li>
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row whiteRow">
		<div class="jumbotron contact">
			<h1>Contact</h1>
		</div>

		<div class="col-md-3">
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="contact-thumbnail-name col-md-4">
							<h3>Philippe Julve</h3>
						</div>
						<div class="contact-thumbnail-item col-md-4">
							<p>
								<i class="fa fa-arrow-right"></i>
								CATMINAT (bases de données)
							</p>
							<p>
								Pour les questions concernant les données du site.
							</p>
						</div>
						<div class="contact-thumbnail-email col-md-4">
							<p id="pjContainer" class="text-center">
								<button id="pj" type="button" class="btn btn-default">Afficher l'adresse email</button>
							</p>
						</div>
					</div>
				</div>
				<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="contact-thumbnail-name col-md-4">
							<h3>Stéphane Delplanque</h3>
						</div>
						<div class="contact-thumbnail-item col-md-4">
							<p>
								<i class="fa fa-arrow-right"></i>
								Application eVeg
							</p>
							<p>
								Pour les questions concernant les fonctionnalités du site.
							</p>
						</div>
						<div class="contact-thumbnail-email col-md-4">
							<p id="sdContainer" class="text-center">
								<button id="sd" type="button" class="btn btn-default">Afficher l'adresse email</button>
							</p>
						</div>
					</div>
				</div>
				<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="text-center col-md-4">
							<h3><i class="fa fa-comment-o"></i></h3>
						</div>
						<div class="contact-thumbnail-item col-md-8">
							<p>			
								...
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$("#pj").click(function(e) {
			e.preventDefault();
			$("#pjContainer").html(showEM('philippe.julve', 'univ-catholille', 'fr'));
		});
		$("#sd").click(function(e) {
			e.preventDefault();
			$("#sdContainer").html(showEM('stephane.delplanque', 'yahoo', 'fr'));
		});

		function showEM(a, b, c) {
			return a+'@'+b+'.'+c;
		}
	</script>
{% endblock %}