{# src/eveg/AppBundle/Resources/views/Default/contact.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ 'eveg.contact.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row whiteRow">
		<div class="jumbotron contact">
			<h1>{{ 'eveg.contact.title'|trans }}</h1>
		</div>

		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="contact-thumbnail-name col-md-4">
							<h3>Philippe Julve</h3>
						</div>
						<div class="contact-thumbnail-item col-md-4">
							<p>
								<i class="fa fa-arrow-right"></i>
								{{ 'eveg.contact.catminat'|trans|nl2br }}
							</p>
						</div>
						<div class="contact-thumbnail-email col-md-4">
							<p id="pjContainer" class="text-center">
								<button id="pj" type="button" class="btn btn-default">{{ 'eveg.contact.show_email'|trans }}</button>
							</p>
						</div>
					</div>
				</div>
				<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="contact-thumbnail-name col-md-4">
							<h3>Stéphane Delplanque</h3>
						</div>
						<div class="contact-thumbnail-item col-md-4">
							<p>
								<i class="fa fa-arrow-right"></i>
								{{ 'eveg.contact.website'|trans|nl2br }}
							</p>
						</div>
						<div class="contact-thumbnail-email col-md-4">
							<p id="sdContainer" class="text-center">
								<button id="sd" type="button" class="btn btn-default">{{ 'eveg.contact.show_email'|trans }}</button>
							</p>
						</div>
					</div>
				</div>
				{#<div class="thumbnail contact-thumbnail">
					<div class="caption">
						<div class="text-center col-md-4">
							<h3><i class="fa fa-comment-o"></i></h3>
						</div>
						<div class="contact-thumbnail-item col-md-8">
							<p>			
								...
							</p>

						</div>
					</div>
				</div>#}
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$("#pj").click(function(e) {
			e.preventDefault();
			$("#pjContainer").html(showEM('philippe.julve', 'univ-catholille', 'fr'));
		});
		$("#sd").click(function(e) {
			e.preventDefault();
			$("#sdContainer").html(showEM('stephane', 'e-veg', 'net'));
		});

		function showEM(a, b, c) {
			return a+'@'+b+'.'+c;
		}
	</script>
{% endblock %}