{# eveg/appBundle/Resources/views/exportPdf.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ syntaxon.syntaxonName }} | eVeg</title>

	{% stylesheets output="css/vendors.css"
		"@evegAppBundle/Resources/public/css/bootstrap.css"
		"./css/jquery-ui.min.css"
		%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}

	{% stylesheets filter="compass" filter="cssrewrite,compass,?yui_css" output='css/main_pdfExport.css'
		"@evegAppBundle/Resources/assets/sass/evegSyntaxonText.scss"
		"@evegAppBundle/Resources/assets/sass/bootstrapFrontCustom.scss"
		"@evegAppBundle/Resources/assets/sass/maps.scss"
	%}
	<link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" type="text/css"/>
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}

</head>

<body>

	<!-- Body container -->
	<div class="container-fluid">
		{# Card header #}
		{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon, 'showOptionsPanel': true } only %}

		{# Breadcrumb for xm & xs views#}
		{% if syntaxon.level != 'HAB' and syntaxon.level != 'CLA' %}
			<br />
			<div class="panel panel-default">
			<div class="panel-heading">Unités supérieures</div>
			<div class="panel-body" style="padding-left:15px;padding-right:15px;padding-top:2px;padding-bottom:2px;">
				{% for syntaxon in allParents %}
					{% if syntaxon.level != 'HAB' %}
						<p class="{{ syntaxon.level }}-text {{ syntaxon.level }}-indent" style="display:block !important;margin-bottom:0 !important;">{{ syntaxon.syntaxon }}</p>
					{% endif %}
				{% endfor %}
			</div>
			</div>
		{% endif %}
	
		{# Synonyms #}
		{% if synonyms is defined %}
			{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' %}
		{% endif %}

		{# Ecological specifications #}
		{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' %}

		{# Floristic cortege #}
		{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' %}

		{# Resources #}
		{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' %}

		{# Bibliography #}
		{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' %}

		<div class="row">
			{# Fr departments repartition #}
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">France métropolitaine</div>
					<div class="panel-body">
						<img src="../../../img/cache/maps/fr/{{ syntaxon.id }}-fr.png" style="width:100%;"></img>
					</div>
				</div>
			</div>
			{# EU coutries repartition #}
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">Europe</div>
					<div class="panel-body">
						<img src="../../../img/cache/maps/eu/{{ syntaxon.id }}-eu.png" style="width:100%;"></img>
					</div>
				</div>
			</div>
			{# Ecological valences #}
			{#<div class="col-md-4 col-sm-4 col-xs-4">
				{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' %}
			</div>#}
		</div> <!-- ./row -->
	</div>

	{% javascripts filter="?yui_js" output="js/vendors_pdfExport.js"
		'@evegAppBundle/Resources/public/js/jquery/jquery-2.1.3.min.js'
		'@evegAppBundle/Resources/public/js/jquery/jquery-ui.min.js'
		'@evegAppBundle/Resources/public/js/bootstrap/bootstrap.min.js'
		%}

		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
		$('.synonymsShowAll').hide();
		$('.ecologyShowAll').hide();
		$('.speciesShowAll').hide();
		$('.filesShowAll').hide();
		$('.bibliosShowAll').hide();
	</script>
</body>