{# src/eveg/AppBundle/Resources/views/Default/homepage.html.twig #}

{% extends "::layout.html.twig" %}


{% block title %}
	{{ parent() }} : {{ 'eveg.web_title'|trans }}
{% endblock %}

{% block body %}

	{{ parent() }}

	{# Jumbotrom / Searchbox #}
	<div class="row jumbotron text-center">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-centered">
			<div class="searchBoxExtend">
				<div class="right-inner-addon">
					<i class="searchIcon glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
					<span class="badge-addon badge">X</span>
					<div class="input-group">
						<input type="text" class="form-control searchbox" name="term" id ="searchbox" placeholder="{{ 'eveg.search.placeholder'|trans }}">
						<div class="input-group-addon searchboxOptionsIcon">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
					</div>
					<div class="panel panel-default searchboxPanelOptions">
						<div class="panel-body">
							<form class="form-inline">
								<div class="input-group">
									<label for="exampleInputEmail1">
										<input class="searchUseSynonymsCB" type="checkbox" value="" checked>
										{{ 'eveg.search.use_synonyms'|trans }}
									</label>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="header col-md-6 col-md-offset-2">
			<h1>eVeg <small>{{ 'eveg.slogan'|trans }}</small><h1>
		</div>


		<div class="col-md-6 col-md-offset-2 text-justify">
			<div>
				<div class="HAB-text">HAB</div>
					<div class="CLA-text">CLA</div>
						<div class="SUBCLA-text SUBCLA-indent">SUBCLA</div>
							<div class="ORD-text ORD-indent">ORD</div>
								<div class="SUBORD-text SUBORD-indent">SUBORD</div>
									<div class="ALL-text ALL-indent">ALL</div>
										<div class="SUBALL-text SUBALL-indent">SUBALL</div>
											<div class="ASS-text ASS-indent">ASS</div>
												<div class="SUBASS-text SUBASS-indent">SUBASS</div>
			</div>
			<p>
				{{ 'eveg.homepage.description'|trans }}
			</p>


			<a href="{{ path('eveg_app_homepage') }}"><button type="button" class="btn btn-primary">Accéder à eVeg</button></a>

		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{asset('img/thumbs/thumb1.png')}}" alt="Actuellement sur eVeg">
				<div class="caption">
					<h3>Actuellement sur eVeg</h3>
					<p><span class="badge"></span> fiches descriptives<br/><span class="badge">YYY</span> documents téléchargeables</p>
				</div>
			</div>
		</div>
	</div> <!-- ./row -->

{% endblock %}

{% block javascript %}

	{{ parent() }}
	<!-- JQUERY COOKIE -->
	<script>
		if(!$.cookie('eveg_search_use_synonyms')) {
			$.cookie('eveg_search_use_synonyms', true);
			console.log('Setting up a cookie : eveg_search_use_synonyms (true)');
		}
		if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
			$(".searchUseSynonymsCB").prop("checked", true);
		} else {
			$(".searchUseSynonymsCB").prop("checked", false);
		}
		function toggleUseSynonymsCookie(){
			if ($('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', true);
			}
			if(!$('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', false);
			}
		}
		$('.searchUseSynonymsCB').click(function(){
			toggleUseSynonymsCookie();
		});
	</script>

	<!-- AUTOCOMPLETE -->
	<script src="{{ asset('js/autocomplete.js') }}" type="text/javascript"></script>
	<script>
		$('.searchIcon').hide();
		$('.badge-addon').hide();
		monkeyPatchAutocomplete();
		var useSynonyms = false;
		$('#searchbox').autocomplete({
			
			source: function(request, response){
				if ($('.searchUseSynonymsCB').is(':checked')) {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': true }, true);
				} else {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': false }, true);
				}
				$.ajax({url:url,success:function(responsedata){
			        response(responsedata)
			    }});
			},
			minLength: 3,
			search: function(event, ui) {
				$('.badge-addon').hide();
				$('.searchIcon').show();
			},
			response: function(event, ui) {
				$('.searchIcon').hide();
				$('.badge-addon').text(ui.content.length);
				$('.badge-addon').show();
			},
			focus: function(event, ui) {
		        event.preventDefault();
		    },
		    change: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
		    close: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
			select : function(event, ui){
				event.preventDefault();
				window.location.href = Routing.generate('eveg_show_one_redirect', { id: ui.item.id }, true);
				$('.badge-addon').hide();
			}
		});
	</script>

	<!-- FOCUS -->
	<script>
	$(document).ready(function(){
	    $("#searchbox").focus();
	});
	</script>

	<!-- SEARCHBOX PANEL OPTIONS -->
	<script>
		$(".searchboxPanelOptions").hide();
		$(".searchboxOptionsIcon").click(function(){
			$(".searchboxPanelOptions").slideToggle(200);
		});
	</script>



{% endblock %}