{# src/eveg/AppBundle/Resources/views/Default/homepage.html.twig #}

{% extends "::layout.html.twig" %}


{% block title %}
	{{ parent() }} : {{ 'eveg.web_title'|trans }}
{% endblock %}

{% block body %}

	{{ parent() }}

	{# Jumbotrom / Searchbox #}
	<div class="row jumbotron text-center">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-centered">
			<div class="searchBoxExtend">
				{% include('evegAppBundle:Default:/Fragments/searchBar.html.twig') %}
			</div>
		</div>
		{# panelOptions#}
		{{ render(controller("evegAppBundle:Default:panelOptions", {
			'about': 'general',
			'floatLeft': true,
			'showFilters': true,
			'showFeedback': true,
			'showCompare': false,
			'showPdfExport': false
		})) }}
	</div>

	<div class="row">
		<div class="header col-md-6 col-md-offset-2">
			<h1>eVeg <small>{{ 'eveg.slogan'|trans }}</small><h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail thumb-green">
				<div class="caption">
					<h3>Présentation</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6 col-no-padding">
					<div class="col-md-12 col-no-padding">
						<div class="thumbnail thumb-blue">
							<div class="caption">
								<h3>Actuellement sur eVeg</h3>
								<p><span class="badge"></span> fiches descriptives<br/><span class="badge">YYY</span> documents téléchargeables</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-no-padding">
						<div class="thumbnail">
							<div class="caption">
								<p>baseveg : 16 mars 2016</p>
								<p>baseflor: date</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="thumbnail thumb-blue">
						<div class="caption">
							<h3>Participez</h3>
							{% if wanted is defined and wanted is not empty %}
								<p>
									<span class="badge">{{ nbTotalWanted }}</span> documents n'attendent que vous pour être compilés !
								</p>
								<ul class="list-group">
									{% for docWanted in wanted %}
										{% if loop.index is not divisibleby(2) %}
											<li class="list-group-item list-highlight">
										{% else %}
											<li class="list-group-item">
										{% endif %}
											{{ docWanted.syntaxonCore.syntaxonName }}
										</li>
									{% endfor %}
									<li class="list-group-item text-center"><a href="{{ path('eveg_app_participate') }}">Comment participer ?</a></li>
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail thumb-red">
						<div class="caption">
							<h3>Derniers ajouts</h3>
							{% if newDocuments is defined and newDocuments is not empty %}
								<ul class="list-group">
									{% for document in newDocuments %}
										{% if loop.index is not divisibleby(2) %}
											<li class="list-group-item ellipsis list-highlight">
										{% else %}
											<li class="list-group-item ellipsis">
										{% endif %}
											{% if document.type == 'spreadsheet' %}
												<i class="fa fa-file-excel-o"></i>
											{% elseif document.type == 'pdf' %}
												<i class="fa fa-file-pdf-o"></i>
											{% elseif document.type == 'photo' %}
												<i class="fa fa-camera"></i>
											{% elseif document.type == 'httplink' %}
												<i class="fa fa-external-link"></i>
											{% endif %}
											le {{ document.datetime|date('d m y') }}, <b>{{ document.user }}</b> a ajouté
											{% if document.type == 'spreadsheet' %}
												une feuille de calcul
											{% elseif document.type == 'pdf' %}
												un document pdf
											{% elseif document.type == 'photo' %}
												une photo
											{% elseif document.type == 'httplink' %}
												un lien
											{% endif %}
											pour : {{ document.syntaxon }}
										</li>
									{% endfor %}
									<li class="list-group-item text-center">
										<a href = "{{ path('eveg_app_activity') }}">Voir toutes les activités du site</a>
									</li>
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div> <!-- ./row -->

{% endblock %}

{% block javascript %}

	{{ parent() }}

	<!-- JQUERY COOKIE -->
	<script src="{{ asset('js/jquery.cookie.js') }}" type="text/javascript"></script>

	<!-- REPARTITION FILTERS -->
	<!-- FR DEPARTMENT FILTER -->
	<script>
		var appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		var depFrFilter;
		if('{{ app.session.get("depFrFilter") | raw }}' != '') {
			depFrFilter = jQuery.parseJSON(appSessionSF2DepFrFilter);
		} else {
			depFrFilter = null;
		}
		for(cb in depFrFilter) {
			$(".cbFrFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- UE FILTER -->
	<script>
		var appSessionSF2UeFilter = '{{ app.session.get("ueFilter") | raw }}';
		var ueFilter;
		if('{{ app.session.get("ueFilter") | raw }}' != '') {
			ueFilter = jQuery.parseJSON(appSessionSF2UeFilter);
		} else {
			ueFilter = null;
		}
		for(cb in ueFilter) {
			$(".cbUeFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- SEARCH OPTIONS POPOVER -->
	<script>
		$(function () {
			var classInputDepFrFilter = "";
			var textActiveDepFrFilter = "";
			var attrDisabled = "";
			// If a department filter is set, show information message
			if('{{ app.session.get("depFrFilter") }}' != "[]") {
				if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
					textActiveDepFrFilter = 'Cette option n\'est pas effective tant qu\'un filtre par département ou par pays est actif';
				}
				classInputDepFrFilter = "has-error";
				attrDisabled = "Disabled";
			}

			$('[data-toggle="popoverSearchOptions"]').popover({
				html: true,
				title: function() {
					return $("#popover-searchOptions-head").html();
				},
				content: function() {
					if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
						return '<div class='+classInputDepFrFilter+'><div class="checkbox"><label><input class="searchUseSynonymsCB" type="checkbox" onclick="clickUseSynonyms()" value="" checked '+attrDisabled+'>{{ "eveg.search.use_synonyms"|trans }}</label></div></div><p><small>'+textActiveDepFrFilter+'</small></p>';
					} else {
						return '<div class='+classInputDepFrFilter+'><div class="checkbox"><label><input class="searchUseSynonymsCB" type="checkbox" onclick="clickUseSynonyms()" value="" '+attrDisabled+'>{{ "eveg.search.use_synonyms"|trans }}</label></div></div><p><small>'+textActiveDepFrFilter+'</small></p>';
					}
				}
			});

			// If a department filter is set, disable the checkbox
			//$("input.searchUseSynonymsCB").prop("disabled", true);
		});
	</script>

	<!-- SEARCH OPTIONS COOKIE -->
	<script>
		// Adds cookie if it doesn't exist yet
		if(!$.cookie('eveg_search_use_synonyms')) {
			$.cookie('eveg_search_use_synonyms', true);
			console.log('Setting up a cookie : eveg_search_use_synonyms (true)');
		}
		
		// Toogle cookie according to checkbox
		function toggleUseSynonymsCookie(){
			if($('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', true);
			}
			if(!$('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', false);
			}
		}

		// Click
		function clickUseSynonyms(){
			toggleUseSynonymsCookie();
		}
	</script>

	<!-- AUTOCOMPLETE -->
	<script src="{{ asset('js/autocomplete.js') }}" type="text/javascript"></script>
	<script>
		$('.searchIcon').hide();
		$('.badge-addon').hide();
		monkeyPatchAutocomplete();
		var useSynonyms = false;
		var appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		var depFrFilter;
		if (appSessionSF2DepFrFilter != '') {
			depFrFilter = jQuery.parseJSON(appSessionSF2DepFrFilter);
		} else {
			depFrFilter = null;
		}
		//var depFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		//console.log(depFrFilter);
		//console.log('{{ app.session.get("depFrFilter") | raw }}');
		
		$('#searchbox').autocomplete({
			
			source: function(request, response){
				if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': true }, true);
				} else {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': false }, true);
				}
				$.ajax({url:url,success:function(responsedata){
			        response(responsedata)
			    }});
			},
			minLength: 3,
			search: function(event, ui) {
				$('.badge-addon').hide();
				$('.searchIcon').show();
			},
			response: function(event, ui) {
				$('.searchIcon').hide();
				$('.badge-addon').text(ui.content.length);
				$('.badge-addon').show();
			},
			focus: function(event, ui) {
		        event.preventDefault();
		    },
		    change: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
		    close: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
			select : function(event, ui){
				event.preventDefault();
				window.location.href = Routing.generate('eveg_show_one_redirect', { id: ui.item.id }, true);
				$('.badge-addon').hide();
			}
		});
	</script>

	<!-- FOCUS -->
	<script>
	$(document).ready(function(){
	    $("#searchbox").focus();
	});
	</script>

	<!-- Feedbacks -->
	{% javascripts 
		'@evegAppBundle/Resources/public/js/feedback/feedback.js'
		'@evegAppBundle/Resources/public/js/feedback/feedbackDoHomepage.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}