{# src/eveg/AppBundle/Resources/views/Default/homepage.html.twig #}

{% extends "::layout.html.twig" %}


{% block title %}
	{{ parent() }} : {{ 'eveg.web_title'|trans }}
{% endblock %}

{% block body %}

	{{ parent() }}

	{# Header (title) #}
	<div class="row header">
		<div class="eveg-title">
			<h1>eVeg <small>{{ 'eveg.slogan'|trans|nl2br }}</small><h1>
		</div>
	</div>

	{# Jumbotrom / Searchbox #}
	<div class="row jumbotron text-center">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-centered">
			<div class="searchBoxExtend">
				{% include('evegAppBundle:Default:/Fragments/searchBar.html.twig') %}
			</div>
		</div>
		{# panelOptions#}
		{{ render(controller("evegAppBundle:Default:panelOptions", {
			'about': 'general',
			'floatLeft': true,
			'showFilters': true,
			'showFeedback': true,
			'showCompare': false,
			'showPdfExport': false
		})) }}
	</div>

	{# Page #}
	<div class="row">
		<div class="col-md-7">
			<div class="thumbnail thumb-orange">
				<div class="caption">
					<h2>{{ 'eveg.homepage.presentation.title'|trans }}</h2>
					<p>{{ 'eveg.homepage.presentation.1'|trans }}</p>
					<p>{{ 'eveg.homepage.presentation.2'|trans }}</p>
					<p>{{ 'eveg.homepage.presentation.3'|trans }}</p>
					<p>{{ 'eveg.homepage.presentation.4'|trans }}</p>
					<div class="row">
						<div class="col-md-offset-2 col-md-8 col-xs-12">
							<p class="text-center"><img class="eveg-diagram-img" src="{{  asset('img/patterns/schema_eveg.jpg') }}" alt="eveg diagram"></img></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			{# Participate #}
			<div class="row">
				<div class="col-md-12">
					{% include 'evegAppBundle:Default/Fragments:participateThumbnail.html.twig' with { 'nbCards': nbCards, 'nbDocs': nbDocs, 'wanted': wanted, 'nbTotalWanted': nbTotalWanted } only %}
				</div>
			</div> <!-- ./row -->
			{# Last uploads from contributors #}
			<div class="row">
				<div class="col-md-12">
					{% include 'evegAppBundle:Default/Fragments:lastUploadsThumbnail.html.twig' with { 'newDocuments': newDocuments } only %}
				</div>
			</div>
		</div>
	</div> <!-- ./row -->

{% endblock %}

{% block javascript %}

	{{ parent() }}

	<!-- JQUERY COOKIE -->
	<script src="{{ asset('js/jquery.cookie.js') }}" type="text/javascript"></script>

	<!-- REPARTITION FILTERS -->
	<!-- FR DEPARTMENT FILTER -->
	<script>
		var appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		var depFrFilter;
		if('{{ app.session.get("depFrFilter") | raw }}' != '') {
			depFrFilter = jQuery.parseJSON(appSessionSF2DepFrFilter);
		} else {
			depFrFilter = null;
		}
		for(cb in depFrFilter) {
			$(".cbFrFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- UE FILTER -->
	<script>
		var appSessionSF2UeFilter = '{{ app.session.get("ueFilter") | raw }}';
		var ueFilter;
		if('{{ app.session.get("ueFilter") | raw }}' != '') {
			ueFilter = jQuery.parseJSON(appSessionSF2UeFilter);
		} else {
			ueFilter = null;
		}
		for(cb in ueFilter) {
			$(".cbUeFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- SEARCH OPTIONS POPOVER -->
	<script>
		$(function () {
			var classInputDepFrFilter = "";
			var textActiveDepFrFilter = "";
			var attrDisabled = "";
			// If a department filter is set, show information message
			if('{{ app.session.get("depFrFilter") }}' != "[]") {
				if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
					textActiveDepFrFilter = 'Cette option n\'est pas effective tant qu\'un filtre par département ou par pays est actif';
				}
				classInputDepFrFilter = "has-error";
				attrDisabled = "Disabled";
			}

			$('[data-toggle="popoverSearchOptions"]').popover({
				html: true,
				title: function() {
					return $("#popover-searchOptions-head").html();
				},
				content: function() {
					if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
						return '<div class='+classInputDepFrFilter+'><div class="checkbox"><label><input class="searchUseSynonymsCB" type="checkbox" onclick="clickUseSynonyms()" value="" checked '+attrDisabled+'>{{ "eveg.search.use_synonyms"|trans }}</label></div></div><p><small>'+textActiveDepFrFilter+'</small></p>';
					} else {
						return '<div class='+classInputDepFrFilter+'><div class="checkbox"><label><input class="searchUseSynonymsCB" type="checkbox" onclick="clickUseSynonyms()" value="" '+attrDisabled+'>{{ "eveg.search.use_synonyms"|trans }}</label></div></div><p><small>'+textActiveDepFrFilter+'</small></p>';
					}
				}
			});

			// If a department filter is set, disable the checkbox
			//$("input.searchUseSynonymsCB").prop("disabled", true);
		});
	</script>

	<!-- SEARCH OPTIONS COOKIE -->
	<script>
		// Adds cookie if it doesn't exist yet
		if(!$.cookie('eveg_search_use_synonyms')) {
			$.cookie('eveg_search_use_synonyms', true);
			console.log('Setting up a cookie : eveg_search_use_synonyms (true)');
		}
		
		// Toogle cookie according to checkbox
		function toggleUseSynonymsCookie(){
			if($('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', true);
			}
			if(!$('.searchUseSynonymsCB').is(':checked')) {
				$.cookie('eveg_search_use_synonyms', false);
			}
		}

		// Click
		function clickUseSynonyms(){
			toggleUseSynonymsCookie();
		}
	</script>

	<!-- AUTOCOMPLETE -->
	<script src="{{ asset('js/autocomplete.js') }}" type="text/javascript"></script>
	<script>
		$('.searchIcon').hide();
		$('.badge-addon').hide();
		monkeyPatchAutocomplete();
		var useSynonyms = false;
		var appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		var depFrFilter;
		if (appSessionSF2DepFrFilter != '') {
			depFrFilter = jQuery.parseJSON(appSessionSF2DepFrFilter);
		} else {
			depFrFilter = null;
		}
		//var depFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		//console.log(depFrFilter);
		//console.log('{{ app.session.get("depFrFilter") | raw }}');
		
		$('#searchbox').autocomplete({
			
			source: function(request, response){
				if($.cookie('eveg_search_use_synonyms') == true || $.cookie('eveg_search_use_synonyms') == "true") {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': true }, true);
				} else {
					var url = Routing.generate('api_get_syntaxon_search', { 'term': request.term, 'useSynonyms': false }, true);
				}
				$.ajax({url:url,success:function(responsedata){
			        response(responsedata)
			    }});
			},
			minLength: 3,
			search: function(event, ui) {
				$('.badge-addon').hide();
				$('.searchIcon').show();
			},
			response: function(event, ui) {
				$('.searchIcon').hide();
				$('.badge-addon').text(ui.content.length);
				$('.badge-addon').show();
			},
			focus: function(event, ui) {
		        event.preventDefault();
		    },
		    change: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
		    close: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
			select : function(event, ui){
				event.preventDefault();
				window.location.href = Routing.generate('eveg_show_one_redirect', { id: ui.item.id }, true);
				$('.badge-addon').hide();
			}
		});
	</script>

	<!-- FOCUS -->
	<script>
	$(document).ready(function(){
	    $("#searchbox").focus();
	});
	</script>

	<!-- Feedbacks -->
	{% javascripts 
		'@evegAppBundle/Resources/public/js/feedback/feedback.js'
		'@evegAppBundle/Resources/public/js/feedback/feedbackDoHomepage.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}