{# src/eveg/AppBundle/Resources/views/Default/showPhotos.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
	{% if syntaxon is defined %}
		{{ 'eveg.dictionary.photos'|trans|capitalize }} | {{ syntaxon.syntaxonName }} | {{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row appShowOne">

		<div class="col-md-offset-2 col-md-8" id="cardView">
			{# Card header #}
			{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon, 'showOptionsPanel': false } only %}

			<div class="row">
				<div class="col-md-12">
					<h3>Photos</h3>
					{% for photo in syntaxon.syntaxonPhotos %}


						{% if photo.visibility == 'private' %}
							{% if is_granted('ROLE_USER') %}
								{% if photo.user == app.user %}
									<div class="panel panel-default">
										<div class="panel-body panelPhotoBody">
											<img style="width: 100%;" src="{{ vich_uploader_asset(photo, 'imageFile') | imagine_filter('resized') }}" alt="{{ syntaxon.syntaxonName }}">
										</div>
										<div class="panel-footer panelPhotoFooter">
											<div class="row panelPhotoContent">
												<div class="col-md-2 col-xs-6 panelPhotoItem">
													{% if photo.author is not empty %}
														<p class="_2em">
															<i class="fa fa-user"></i>
														</p>
														<p>
															{{ photo.author }}
														</p>
														<p>
															{{ 'eveg.dictionary.private'|trans|capitalize }}
														</p>
														{% if photo.user == app.user %}
															<p>
																<i class="fa fa-pencil-square-o"></i>
																<a href="{{ path('eveg_edit_photo', {'id': syntaxon.id, 'idPhoto': photo.id}) }}">{{ 'eveg.dictionary.edit'|trans|capitalize }}</a>
															</p>
														{% endif %}
													{% endif %}
												</div>

												<div class="col-md-2 col-xs-6 panelPhotoItem">
													{% if photo.date is not empty %}
														<p class="_2em ">
															<i class="fa fa-calendar"></i>
														</p>
														<p>
															{{ photo.date|date("d/m/Y") }}
														</p>
													{% endif %}
												</div>

												<div class="col-md-3 col-xs-6 panelPhotoItem">
													<p class="_2em">
														<i class="fa fa-map-marker"></i>
													</p>
													{% if photo.country is not empty %}
														{% if photo.department is not empty %}
															<p>
																<b>
																	{{ 'eveg.dictionary.country'|trans|capitalize }} : 
																</b>
																{{ photo.country }} ({{ photo.department }})
															</p>
														{% else %}
															<p>
																<b>
																	{{ 'eveg.dictionary.country'|trans|capitalize }}
																</b>
																 : {{ photo.country }}
															</p>
														{% endif %}
													{% endif %}
													{% if photo.city is not empty %}
														<p>
															<b>
																{{ 'eveg.dictionary.town'|trans|capitalize }}
															</b>
															 : {{ photo.city }}
														</p>
													{% endif %}
												</div>
												<div class="col-md-3 col-xs-6 panelPhotoItem last">
													<p class="_2em">
														<i class="fa fa-creative-commons"></i>
													</p>
													<p>
														<b>
															{{ 'eveg.dictionary.license'|trans|capitalize }}
														</b>
														 : CC-BY-SA
													</p>
												</div>
											</div>
											<div class="row panelPhotoDescription">
												{% if photo.description is not empty %}
													<p>
														<b>
															{{ 'eveg.dictionary.description'|trans|capitalize }} : 
														</b>
														{{ photo.description }}
													</p>
												{% endif %}
											</div>
										</div> <!-- panel footer -->
									</div> <!--panel-default -->
								{% endif %}
							{% endif %}
						{% endif %}


						{% if photo.visibility == 'group' %}
							{% if is_granted('ROLE_CIRCLE') %}
								<div class="panel panel-default">
									<div class="panel-body panelPhotoBody">
										<img style="width: 100%;" src="{{ vich_uploader_asset(photo, 'imageFile') | imagine_filter('resized') }}" alt="{{ syntaxon.syntaxonName }}">
									</div>
									<div class="panel-footer panelPhotoFooter">
										<div class="row">
											<div class="col-md-2 col-xs-6 panelPhotoItem">
												{% if photo.author is not empty %}
													<p class="_2em">
														<i class="fa fa-user"></i>
													</p>
													<p>
														{{ photo.author }}
													</p>
													<p>
														{{ 'eveg.dictionary.circle'|trans|capitalize }}
													</p>
													{% if photo.user == app.user %}
														<p>
															<i class="fa fa-pencil-square-o"></i>
															<a href="{{ path('eveg_edit_photo', {'id': syntaxon.id, 'idPhoto': photo.id}) }}">{{ 'eveg.dictionary.edit'|trans|capitalize }}</a>
														</p>
													{% endif %}
												{% endif %}
											</div>

											<div class="col-md-2 col-xs-6 panelPhotoItem">
												{% if photo.date is not empty %}
													<p class="_2em ">
														<i class="fa fa-calendar"></i>
													</p>
													<p>
														{{ photo.date|date("d/m/Y") }}
													</p>
												{% endif %}
											</div>

											<div class="col-md-3 col-xs-6 panelPhotoItem">
												<p class="_2em">
													<i class="fa fa-map-marker"></i>
												</p>
												{% if photo.country is not empty %}
													{% if photo.department is not empty %}
														<p>
															<b>
																{{ 'eveg.dictionary.country'|trans|capitalize }} : 
															</b>
															{{ photo.country }} ({{ photo.department }})
														</p>
													{% else %}
														<p>
															<b>
																{{ 'eveg.dictionary.country'|trans|capitalize }}
															</b>
															 : {{ photo.country }}
														</p>
													{% endif %}
												{% endif %}
												{% if photo.city is not empty %}
													<p>
														<b>
															{{ 'eveg.dictionary.town'|trans|capitalize }}
														</b>
														 : {{ photo.city }}
													</p>
												{% endif %}
											</div>
											<div class="col-md-3 col-xs-6 panelPhotoItem last">
												<p class="_2em">
													<i class="fa fa-creative-commons"></i>
												</p>
												<p>
													<b>
														{{ 'eveg.dictionary.license'|trans|capitalize }}
													</b>
													 : CC-BY-SA
												</p>
											</div>
										</div>
										<div class="row panelPhotoDescription">
											{% if photo.description is not empty %}
												<p>
													<b>
														{{ 'eveg.dictionary.description'|trans|capitalize }} : 
													</b>
													{{ photo.description }}
												</p>
											{% endif %}
										</div>
									</div> <!-- panel footer -->
								</div> <!--panel-default -->
							{% endif %}
						{% endif %}


						{% if photo.visibility == 'public' %}
							<div class="panel panel-default">
								<div class="panel-body panelPhotoBody">
									<img style="width: 100%;" src="{{ vich_uploader_asset(photo, 'imageFile') | imagine_filter('resized') }}" alt="{{ syntaxon.syntaxonName }}">
								</div>
								<div class="panel-footer panelPhotoFooter">
									<div class="row">
										<div class="col-md-2 col-xs-6 panelPhotoItem">
											{% if photo.author is not empty %}
												<p class="_2em">
													<i class="fa fa-user"></i>
												</p>
												<p>
													{{ photo.author }}
												</p>
												{% if photo.user == app.user %}
													<p>
														<i class="fa fa-pencil-square-o"></i>
														<a href="{{ path('eveg_edit_photo', {'id': syntaxon.id, 'idPhoto': photo.id}) }}">{{ 'eveg.dictionary.edit'|trans|capitalize }}</a>
													</p>
												{% endif %}
											{% endif %}
										</div>

										<div class="col-md-2 col-xs-6 panelPhotoItem">
											{% if photo.date is not empty %}
												<p class="_2em ">
													<i class="fa fa-calendar"></i>
												</p>
												<p>
													{{ photo.date|date("d/m/Y") }}
												</p>
											{% endif %}
										</div>

										<div class="col-md-3 col-xs-6 panelPhotoItem">
											<p class="_2em">
												<i class="fa fa-map-marker"></i>
											</p>
											{% if photo.country is not empty %}
												{% if photo.department is not empty %}
													<p>
														<b>
															{{ 'eveg.dictionary.country'|trans|capitalize }} : 
														</b>
														{{ photo.country }} ({{ photo.department }})
													</p>
												{% else %}
													<p>
														<b>
															{{ 'eveg.dictionary.country'|trans|capitalize }}
														</b>
														 : {{ photo.country }}
													</p>
												{% endif %}
											{% endif %}
											{% if photo.city is not empty %}
												<p>
													<b>
														{{ 'eveg.dictionary.town'|trans|capitalize }}
													</b>
													 : {{ photo.city }}
												</p>
											{% endif %}
										</div>
										<div class="col-md-3 col-xs-6 panelPhotoItem last">
											<p class="_2em">
												<i class="fa fa-creative-commons"></i>
											</p>
											<p>
												<b>
													{{ 'eveg.dictionary.license'|trans|capitalize }}
												</b>
												 : CC-BY-SA
											</p>
										</div>
									</div>
									<div class="row panelPhotoDescription">
										{% if photo.description is not empty %}
											<p>
												<b>
													{{ 'eveg.dictionary.description'|trans|capitalize }} : 
												</b>
												{{ photo.description }}
											</p>
										{% endif %}
									</div>
								</div> <!-- panel footer -->
							</div> <!--panel-default -->
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}


