{# src/eveg/AppBundle/Resources/views/Default/viewOne.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fancytree/skin-win8/ui.fancytree.min.css') }}" type="text/css" />
	{{ parent() }}
{% endblock %}

{% block title %}
	{% if syntaxon is defined %}
		{{ syntaxon.syntaxonName }} | {{ parent() }}
	{% endif %}
	{% if multipleSyntaxon is defined %}
		Plusieurs résultats | {{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}

	{{ parent() }}


	{% if redirectionSyntaxon is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionSyntaxon.level }}-text">{{ redirectionSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionMultipleSyntaxon is defined %}
		<p>Plusieurs syntaxons correpondent à votre recherche concernant "<span class="{{ redirectionMultipleSyntaxon.level }}-text">{{ redirectionMultipleSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionFromSynonym is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionFromSynonym.level }}-text">{{ redirectionFromSynonym.syntaxon }}</span></p>
	{% endif %}

	{% if syntaxon is defined %}
		{#{{ dump(syntaxon) }}#}
		{#{{ dump(synonyms) }}#}
	{% endif %}

	{% if multipleSyntaxon is defined %}
		{#{{ dump(multipleSyntaxon) }}#}
	{% endif %}

	{% if allParents is defined %}
		{#{{ dump(allParents) }}#}
	{% endif %}

	{% if syntaxon is defined %}

		{# PanelOptions & SearchBar #}
		<div class="row">
			<div class="col-md-4 colPanelOptions hidden-xs hidden-sm">
				{{ render(controller("evegAppBundle:Default:panelOptions", {
					'syntaxonId': syntaxon.id,
					'showFilters': true,
					'showFeedback': true,
					'showCompare': true,
					'showPdfExport': true
				})) }}
			</div>
			<div class="col-md-8">
				{# Searchbox #}
				<div class="row searchRow">
					
				</div>
			</div>
		</div>

		<div class="row appShowRow">
			<div class="col-md-4 hidden-xs hidden-sm">
				<div id="divTree">
					
				</div>
				<i class="loadTreeIcon glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
			</div>

			{# show data #}
			<div class="col-md-8" id="cardView">

				{# Card header #}
					{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' %}

				{# Breadcrumb #}
				<div class="row flexBreadcrumb hidden-xs hidden-sm">
						{% for syntaxon in allParents %}
							{% if syntaxon.level != 'HAB' %}
								<div class="flexBreadcrumbItem"><a href="{{ path('eveg_show_one', {'id': syntaxon.id}) }}" class="{{ syntaxon.level }}-text">{{ syntaxon.syntaxon }}</a></div>

								{% if not loop.last %}
									<span class="breadcrumbSeparator">/</span>
								{% endif %}
							{% endif %}
						{% endfor %}
				</div>

				{# Breadcrumb for xm & xs views#}
				<div class="row hidden-lg hidden-md">
					{% for syntaxon in allParents %}
						{% if syntaxon.level != 'HAB' %}
								<a href="{{ path('eveg_show_one', {'id': syntaxon.id}) }}" class="{{ syntaxon.level }}-text {{ syntaxon.level }}-indent">{{ syntaxon.syntaxon }}</a><br />
						{% endif %}
					{% endfor %}
				</div>

				{# Data #}
				<div class="row">
					<div class="col-md-8 viewLeft">

						{# Synonyms #}
						{% if synonyms is defined %}
							{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' %}
						{% endif %}

						{# Ecological specifications #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' %}

						{# Floristic cortege #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' %}

						{# Resources #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' %}

						{# Bibliography #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' %}

					</div> <!-- ./viewLeft -->

					<div class="col-md-4 viewRight">
						<!-- photos -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:photosPanel.html.twig' %}

						<!-- Fr departments repartition -->
						<div class="panel panel-default">
							<div class="panel-heading">France</div>
							<div class="panel-body">
								<div id="mapDepFr"></div>
								<div id="mapDepFrHoverLegend"></div>
								<div id="mapDepFrToggleLegend">Légende</div>
								<div class="pull-right"><a id="download-mapdepfr-image" href="" class="no-style" data-tooltip="tooltip" title="Télécharger la carte" data-placement="left" download><i class="fa fa-download"></i></a></div>
								<div id="mapDepFrLegend"></div>
							</div>
						</div>
						<!-- EU+ coutries repartition -->
						<div class="panel panel-default">
							<div class="panel-heading">Europe</div>
							<div class="panel-body">
								<div id="mapEurope"></div>
								<div id="mapEuropeHoverLegend"></div>
								<div id="mapEuropeToggleLegend">Légende</div>
								<div class="pull-right"><a id="download-mapeurope-image" href="" class="no-style" data-tooltip="tooltip" title="Télécharger la carte" data-placement="left" download><i class="fa fa-download"></i></a></div>
								<div id="mapEuropeLegend"></div>
							</div>
						</div>

						<!-- Ecological valences -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' %}
					</div> <!-- ./viewRight -->
				</div> <!-- ./row -->
			</div> <!-- ./col-md-8 -->
		</div>

	{% endif %}

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$(".loadTreeIcon").hide();
	</script>
	<!-- JQUERY COOKIE -->
	<script src="{{ asset('js/jquery.cookie.js') }}" type="text/javascript"></script>

	<!-- FANCY TREE -->
	<script src="{{ asset('js/jquery.fancytree.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/jquery.fancytree.persist.js') }}" type="text/javascript"></script>
	<!-- Initialize the tree when page is loaded -->
	<script src="{{ asset('js/treeApp.js') }}" type="text/javascript"></script>

	<!-- AUTOCOMPLETE -->
	<script src="{{ asset('js/autocomplete.js') }}" type="text/javascript"></script>
	<script>
		$('.searchIcon').hide();
		$('.badge-addon').hide();
		monkeyPatchAutocomplete();
		$('#searchbox').autocomplete({
			source: '{{ url("api_get_syntaxon_search") }}',
			minLength: 3,
			search: function(event, ui) {
				$('.badge-addon').hide();
				$('.searchIcon').show();
			},
			response: function(event, ui) {
				$('.searchIcon').hide();
				$('.badge-addon').text(ui.content.length);
				$('.badge-addon').show();
			},
			focus: function(event, ui) {
		        event.preventDefault();
		    },
		    change: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
		    close: function(event, ui) {
		    	$('.badge-addon').hide();
		    },
			select : function(event, ui){
				event.preventDefault();
				//alert( Routing.generate('api_get_syntaxon_node', { id: ui.item.id }, true) );
				window.location.replace(Routing.generate('eveg_show_one', { id: ui.item.id }, true));
				$('.badge-addon').hide();
			}
		});
	</script>

	<!-- REPARTITION FILTERS -->
	<!-- FR DEPARTMENT FILTER -->
	<script>
		var appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
		var depFrFilter;
		if('{{ app.session.get("depFrFilter") | raw }}' != '') {
			depFrFilter = jQuery.parseJSON(appSessionSF2DepFrFilter);
		} else {
			depFrFilter = null;
		}
		for(cb in depFrFilter) {
			$(".cbFrFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- UE FILTER -->
	<script>
		var appSessionSF2UeFilter = '{{ app.session.get("ueFilter") | raw }}';
		var ueFilter;
		if('{{ app.session.get("ueFilter") | raw }}' != '') {
			ueFilter = jQuery.parseJSON(appSessionSF2UeFilter);
		} else {
			ueFilter = null;
		}
		for(cb in ueFilter) {
			$(".cbUeFilter[name="+cb+"]").prop('checked', true);
		}
	</script>

	<!-- RESIZABLE -->
	<!--
	<script src="{{ asset('js/resizable.js') }}" type="text/javascript"></script>
	<script>
		$("#divTree").resizable({
	        alsoResizeReverse: "#notTree"
	    });
	</script>
	-->

	<!-- EXPAND NODES -->
	<script>
		{% if syntaxon is defined%}
			function expandNodes(){
				$(".loadTreeIcon").show();
				var tree = $("#divTree").fancytree("getTree");
				tree.loadKeyPath("{% if allParents is defined %}{% for parent in allParents %}/{{ parent.id }}{% endfor %}/{{ syntaxon.id}}{% endif %}", function(node, status){
				  
				  if(status === "loaded") {
				    //console.log("loaded intermiediate node " + node);
				  }
				  
				  if(status === "ok") {
				    tree.activateKey("{{ syntaxon.id }}");
				    $(".loadTreeIcon").hide();
				  }


				  //console.debug("node [" + node + "]: " + status)
				});
			}
		{% endif %}
	</script>

	<!-- MAPS -->
	{% javascripts 
		'@evegAppBundle/Resources/public/js/maps/*'
		'js/maps/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
		var repDepFr = '{{ repDepFrJson | raw }}';
		createMapDepFr(document.getElementById('mapDepFr'),
			           document.getElementById('mapDepFrHoverLegend'),
			           document.getElementById('mapDepFrLegend'),
			           repDepFr,
			           0.55);
		$("#mapDepFrLegend").hide();
		$("#mapDepFrToggleLegend").click(function(){
			$("#mapDepFrLegend").toggle();
		});
	</script>

	<!-- UE map-->
	<script>
		var repUE = '{{ repUeJson | raw }}';
		createMapEurope(document.getElementById('mapEurope'),
						document.getElementById('mapEuropeHoverLegend'),
						document.getElementById('mapEuropeLegend'),
						repUE,
						0.55);
		$("#mapEuropeLegend").hide();
		$("#mapEuropeToggleLegend").click(function(){
			$("#mapEuropeLegend").toggle();
		});
	</script>
	
	<!-- BOOTSTRAP TOOLTIP -->
	<script>
		$(".showTooltip").tooltip({html:true});
		$('[data-tooltip="tooltip"]').tooltip();
	</script>

	<!-- LIMIT THE NUMBER OF VISIBLE ITEMS -->
	<script>
		function limitResults(limit, label, item, click){
			// label : node to be shown / hidden
			// item : node to limit repetition
			// click : click this element to toggle
			$(label).hide();
			//var limit = 3;
			var synonymsExpand = false;
			var nbSynonyms = $(item).size();
			var strExpand = 'Afficher tout (' + nbSynonyms + ')';
			var strMini = 'Réduire';
			$(label).html(strExpand);
			//console.log($('.synonymsBox').size());
			if(nbSynonyms > limit) {
				synonymsExpand = true;
				$(item).slice(limit).hide();
				$(label).show();
			}
			$(click).click(function(){
				if(synonymsExpand == true) {
					$(item).show();
					$(label).html(strMini);
					synonymsExpand = false
				} else {
					$(item).slice(limit).hide();
					$(label).html(strExpand);
					synonymsExpand = true;
				}	
			});	
		}

		limitResults(3, ".synonymsShowAll", ".synonymBox", ".panelSynonymsHeader");
		limitResults(3, ".filesShowAll", ".fileBox", ".panelFilesHeader");
		limitResults(3, ".bibliosShowAll", ".biblioBox", ".panelBibliosHeader");
		limitResults(5, ".ecologyShowAll", ".ecologyBox", ".panelEcologyHeader");
		limitResults(10, ".speciesShowAll", ".speciesBox", ".panelSpeciesHeader");
		
	</script>

	<!-- Images cache maps -->
	<canvas id="canvasMapDepFr" style="display:none;"></canvas>
	<canvas id="canvasMapEu" style="display:none;"></canvas>
	<script>
		function createCacheMapPng(domIdMap, canvasIdMap, imgCacheMultiplicator, mapType) {

			svgMap = $(domIdMap).html();
			canvg(document.getElementById(canvasIdMap), svgMap);
			
			imgMapDepFr = Canvas2Image.convertToPNG(document.getElementById(canvasIdMap), (280*imgCacheMultiplicator), (300*imgCacheMultiplicator));

			$.ajax({
				url: Routing.generate('eveg_save_repartition_map', {mapType}, true),
				data: {
					'file': imgMapDepFr.src,
					'id': "{{ syntaxon.id }}",
					'name': "{{ syntaxon.syntaxonName }}"
				},
				error : function(){
					console.log('An error has occurred while saving the map cached image.');
				},
				success: function(data) {
					console.log(mapType+' cache image for id '+data+' was generated.');
				},
				type: 'POST'
			});
		}

		// check if files already exists
		// if not, create it
		$.ajax({
			url: Routing.generate('eveg_image_cache_map_exists', true),
			data: {
				'id': {{ syntaxon.id }},
				'mapType': 'fr'
			},
			error: function(){
				createCacheMapPng('#mapDepFr', 'canvasMapDepFr', 1.5, 'fr');
				$('#download-mapdepfr-image').attr('href', '../../img/cache/maps/fr/{{ syntaxon.id }}-fr.png');
			},
			success: function(){
				$('#download-mapdepfr-image').attr('href', '../../img/cache/maps/fr/{{ syntaxon.id }}-fr.png');
			},
			type: 'POST'
		});
		$.ajax({
			url: Routing.generate('eveg_image_cache_map_exists', true),
			data: {
				'id': {{ syntaxon.id }},
				'mapType': 'eu'
			},
			error: function(){
				createCacheMapPng('#mapEurope', 'canvasMapEu', 1.5, 'eu');
				$('#download-mapeurope-image').attr('href', '../../img/cache/maps/eu/{{ syntaxon.id }}-eu.png');
			},
			success: function(){
				$('#download-mapeurope-image').attr('href', '../../img/cache/maps/eu/{{ syntaxon.id }}-eu.png');
			},
			type: 'POST'
		});
	</script>
	

{% endblock %}