{# src/eveg/AppBundle/Resources/views/Default/viewOne.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fancytree/skin-win8/ui.fancytree.min.css') }}">
	{#<link rel="stylesheet" href="{{ asset('css/bootstrap-tour.min.css') }}" type="text/css" />#}
	{{ parent() }}
{% endblock %}

{% block title %}
	{% if syntaxon is defined %}
		{{ syntaxon.syntaxonName }} | {{ parent() }}
	{% endif %}
	{% if multipleSyntaxon is defined %}
		Plusieurs résultats | {{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}

	{{ parent() }}


	{% if redirectionSyntaxon is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionSyntaxon.level }}-text">{{ redirectionSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionMultipleSyntaxon is defined %}
		<p>Plusieurs syntaxons correpondent à votre recherche concernant "<span class="{{ redirectionMultipleSyntaxon.level }}-text">{{ redirectionMultipleSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionFromSynonym is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionFromSynonym.level }}-text">{{ redirectionFromSynonym.syntaxon }}</span></p>
	{% endif %}

	{% if syntaxon is defined %}
		{#{{ dump(syntaxon) }}#}
		{#{{ dump(synonyms) }}#}
	{% endif %}

	{% if multipleSyntaxon is defined %}
		{#{{ dump(multipleSyntaxon) }}#}
	{% endif %}

	{% if allParents is defined %}
		{#{{ dump(allParents) }}#}
	{% endif %}

	{% if syntaxon is defined %}

		{# App #}
		<div class="row appShowRow {% if app.session.get('rainbow') is defined and app.session.get('rainbow') == '1' %}app-r-{{ syntaxon.level }}{% endif %}">
			<div class="col-md-4 hidden-xs hidden-sm" id="treeView">
				<div id="divTree">
					
				</div>
				{#<i class=" glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>#}
				<div class="loadTreeIcon">
					<i class="fa fa-circle-o-notch fa-spin"></i>
				</div>
			</div>

			{# show data #}
			<div class="col-md-8" id="cardView">

				{# Card header #}
				{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon, 'showOptionsPanel': true } only %}

				{# Breadcrumb #}
				{% include 'evegAppBundle:Default/Fragments/CardPanels:breadcrumb.html.twig' with { 'syntaxon': syntaxon, 'allParents': allParents } only %}

				{# Data #}
				<div class="row">
					<div class="col-md-8 viewLeft">

						{# Synonyms #}
						{% if synonyms is defined %}
							{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' with { 'synonyms': synonyms } only %}
						{% endif %}

						{# Ecological specifications #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						{# Floristic cortege #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' with { 'species': species } only %}

						{# Resources #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						{# Bibliography #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' with { 'syntaxon': syntaxon, 'synonyms': synonyms } only %}

					</div> <!-- ./viewLeft -->

					<div class="col-md-4 viewRight">
						<!-- photos -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:photosPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						<div id="panels-map">
							<!-- Fr departments repartition -->
							{% include 'evegAppBundle:Default/Fragments/CardPanels:mapDepFrPanel.html.twig' with { 'showOptions': true } only %}

							<!-- EU+ coutries repartition -->
							{% include 'evegAppBundle:Default/Fragments/CardPanels:mapEuropePanel.html.twig' with { 'showOptions': true } only %}
						</div>

						<!-- Ecological valences -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' with { 'ecologicalValuesAvg': ecologicalValuesAvg } only %}

						<!-- Catminat code -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:catminatCodePanel.html.twig' with { 'catminatCode': syntaxon.catminatCode } only %}
					</div> <!-- ./viewRight -->
				</div> <!-- ./row -->

				{# Feedback maps #}
				{% include 'evegAppBundle:Default/Fragments/Modals:feedbacksShowOneModals.html.twig' %}

			</div> <!-- ./col-md-8 -->
		</div>

	{% endif %}

	<!-- Images cache maps -->
	<canvas id="canvasMapDepFr" style="display:none;"></canvas>
	<canvas id="canvasMapEu" style="display:none;"></canvas>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<!-- FANCY TREE -->
	<script>env = "{{ app.environment }}";/* Global environment var*/</script>
	{% javascripts filter="?yui_js" output ="js/tree.js"
		"@evegAppBundle/Resources/public/js/tree/jquery.fancytree.js"
		"@evegAppBundle/Resources/public/js/tree/jquery.fancytree.persist.js"
		"@evegAppBundle/Resources/public/js/tree/jquery.fancytree.table.js"
		"@evegAppBundle/Resources/public/js/tree/treeApp.js"
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{#<script src="{{ asset('js/jquery.fancytree.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/jquery.fancytree.persist.js') }}" type="text/javascript"></script>#}
	<!-- Initialize the tree when page is loaded -->
	
	{#<script src="{{ asset('js/treeApp.js') }}" type="text/javascript"></script>#}
	<script>
		{% if syntaxon is defined%}
			function expandNodes(){
				$(".loadTreeIcon").show();
				var tree = $("#divTree").fancytree("getTree");
				tree.loadKeyPath("{% if allParents is defined %}{% for parent in allParents %}/{{ parent.id }}{% endfor %}/{{ syntaxon.id}}{% endif %}", function(node, status){
				  
				  if(status === "loaded") {
				    //console.log("loaded intermiediate node " + node);
				  }
				  
				  if(status === "ok") {
				    tree.activateKey("{{ syntaxon.id }}");
				    $(".loadTreeIcon").hide();
				  }
				});
			}
		{% endif %}
	</script>

	{# Custom scripts #}
	{% javascripts filter="?yui_js" output ="js/main.js"
		'@evegAppBundle/Resources/public/js/repartitionFilters/depFr.js'		
		'@evegAppBundle/Resources/public/js/repartitionFilters/europe.js'
		'@evegAppBundle/Resources/public/js/limitVisibleItems.js'
		'@evegAppBundle/Resources/public/js/feedback/feedback.js'
		'@evegAppBundle/Resources/public/js/feedback/feedbackDoShowOnePage.js'
		'@evegAppBundle/Resources/public/js/compare.js'
		%}
		<script>
			// Cache map var
			syntaxonName = "{{ syntaxon.syntaxonName }}";
			syntaxonId = "{{ syntaxon.id }}";
		</script>
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- MAP SCRIPTS-->
	<script>syntaxonId = {{ syntaxon.id }}</script>
	{% javascripts filter="?yui_js" output ="js/maps.js"
		'@evegAppBundle/Resources/public/js/maps/raphael-2.1.2.min.js'
		'@evegAppBundle/Resources/public/js/maps/scale.raphael-0.8.js'
		'@evegAppBundle/Resources/public/js/maps/canvg.min.js'
		'@evegAppBundle/Resources/public/js/maps/canvas2image.js'
		'@evegAppBundle/Resources/public/js/maps/cacheMap.js'
		'@evegAppBundle/Resources/public/js/maps/evegMapDepFr.js'
		'@evegAppBundle/Resources/public/js/maps/evegMapEurope.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- Limit visible items -->
	<script>
		limitResults(3, ".synonymsShowAll", ".synonymBox", ".panelSynonymsHeader");
		limitResults(3, ".filesShowAll", ".fileBox", ".panelFilesHeader");
		limitResults(3, ".bibliosShowAll", ".biblioBox", ".panelBibliosHeader");
		limitResults(5, ".ecologyShowAll", ".ecologyBox", ".panelEcologyHeader");
		limitResults(10, ".speciesShowAll", ".speciesBox", ".panelSpeciesHeader");
	</script>

	<!-- DepFr map-->
	<script>
		var repDepFr = '{{ repDepFrJson | raw }}';
		createMapDepFr(document.getElementById('mapDepFr'),
			           document.getElementById('mapDepFrHoverLegend'),
			           document.getElementById('mapDepFrLegend'),
			           repDepFr,
			           0.55);
		$("#mapDepFrLegend").hide();
		$("#mapDepFrToggleLegend").click(function(){
			$("#mapDepFrLegend").toggle();
		});
	</script>
	<!-- UE map -->
	<script>
		var repUE = '{{ repUeJson | raw }}';
		createMapEurope(document.getElementById('mapEurope'),
						document.getElementById('mapEuropeHoverLegend'),
						document.getElementById('mapEuropeLegend'),
						repUE,
						0.55);
		$("#mapEuropeLegend").hide();
		$("#mapEuropeToggleLegend").click(function(){
			$("#mapEuropeLegend").toggle();
		});
	</script>

{% endblock %}