{# src/eveg/AppBundle/Resources/views/Default/viewOne.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fancytree/skin-win8/ui.fancytree.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/bootstrap-tour.min.css') }}" type="text/css" />
	{{ parent() }}
{% endblock %}

{% block title %}
	{% if syntaxon is defined %}
		{{ syntaxon.syntaxonName }} | {{ parent() }}
	{% endif %}
	{% if multipleSyntaxon is defined %}
		Plusieurs résultats | {{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}

	{{ parent() }}


	{% if redirectionSyntaxon is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionSyntaxon.level }}-text">{{ redirectionSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionMultipleSyntaxon is defined %}
		<p>Plusieurs syntaxons correpondent à votre recherche concernant "<span class="{{ redirectionMultipleSyntaxon.level }}-text">{{ redirectionMultipleSyntaxon.syntaxon }}</span>".</p>
	{% endif %}

	{% if redirectionFromSynonym is defined %}
		<p>Vous avez été redirigé vers le syntaxon retenu pour votre recherche concernant "<span class="{{ redirectionFromSynonym.level }}-text">{{ redirectionFromSynonym.syntaxon }}</span></p>
	{% endif %}

	{% if syntaxon is defined %}
		{#{{ dump(syntaxon) }}#}
		{#{{ dump(synonyms) }}#}
	{% endif %}

	{% if multipleSyntaxon is defined %}
		{#{{ dump(multipleSyntaxon) }}#}
	{% endif %}

	{% if allParents is defined %}
		{#{{ dump(allParents) }}#}
	{% endif %}

	{% if syntaxon is defined %}

		{# App #}
		<div class="row appShowRow">
			<div class="col-md-4 hidden-xs hidden-sm" id="treeView">
				<div id="divTree">
					
				</div>
				<i class="loadTreeIcon glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
			</div>

			{# show data #}
			<div class="col-md-8" id="cardView">

				{# Card header #}
				{% include 'evegAppBundle:Default/Fragments:cardHeader.html.twig' with { 'syntaxon': syntaxon, 'showOptionsPanel': true } only %}

				{# Breadcrumb #}
				{% include 'evegAppBundle:Default/Fragments/cardPanels:breadcrumb.html.twig' with { 'syntaxon': syntaxon, 'allParents': allParents } only %}

				{# Data #}
				<div class="row">
					<div class="col-md-8 viewLeft">

						{# Synonyms #}
						{% if synonyms is defined %}
							{% include 'evegAppBundle:Default/Fragments/CardPanels:synonymsPanel.html.twig' with { 'synonyms': synonyms } only %}
						{% endif %}

						{# Ecological specifications #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologyPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						{# Floristic cortege #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:floristicPanel.html.twig' with { 'species': species } only %}

						{# Resources #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:resourcesPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						{# Bibliography #}
						{% include 'evegAppBundle:Default/Fragments/CardPanels:bibliographyPanel.html.twig' with { 'syntaxon': syntaxon, 'synonyms': synonyms } only %}

					</div> <!-- ./viewLeft -->

					<div class="col-md-4 viewRight">
						<!-- photos -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:photosPanel.html.twig' with { 'syntaxon': syntaxon } only %}

						<div id="panels-map">
							<!-- Fr departments repartition -->
							{% include 'evegAppBundle:Default/Fragments/CardPanels:mapDepFrPanel.html.twig' with { 'showOptions': true } only %}

							<!-- EU+ coutries repartition -->
							{% include 'evegAppBundle:Default/Fragments/CardPanels:mapEuropePanel.html.twig' with { 'showOptions': true } only %}
						</div>

						<!-- Ecological valences -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:ecologicalValencesPanel.html.twig' with { 'ecologicalValuesAvg': ecologicalValuesAvg } only %}

						<!-- Catminat code -->
						{% include 'evegAppBundle:Default/Fragments/CardPanels:catminatCodePanel.html.twig' with { 'catminatCode': syntaxon.catminatCode } only %}
					</div> <!-- ./viewRight -->
				</div> <!-- ./row -->

				{# Feedback maps #}
				{% include 'evegAppBundle:Default/Fragments/Modals:feedbacksShowOneModals.html.twig' %}

			</div> <!-- ./col-md-8 -->
		</div>

	{% endif %}

	<!-- Images cache maps -->
	<canvas id="canvasMapDepFr" style="display:none;"></canvas>
	<canvas id="canvasMapEu" style="display:none;"></canvas>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<!-- JQUERY COOKIE -->
	<script src="{{ asset('js/jquery.cookie.js') }}" type="text/javascript"></script>

	<!-- FANCY TREE -->
	<script src="{{ asset('js/jquery.fancytree.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/jquery.fancytree.persist.js') }}" type="text/javascript"></script>
	<!-- Initialize the tree when page is loaded -->
	<script src="{{ asset('js/treeApp.js') }}" type="text/javascript"></script>
	<script>
		{% if syntaxon is defined%}
			function expandNodes(){
				$(".loadTreeIcon").show();
				var tree = $("#divTree").fancytree("getTree");
				tree.loadKeyPath("{% if allParents is defined %}{% for parent in allParents %}/{{ parent.id }}{% endfor %}/{{ syntaxon.id}}{% endif %}", function(node, status){
				  
				  if(status === "loaded") {
				    //console.log("loaded intermiediate node " + node);
				  }
				  
				  if(status === "ok") {
				    tree.activateKey("{{ syntaxon.id }}");
				    $(".loadTreeIcon").hide();
				  }
				});
			}
		{% endif %}
	</script>

	{% javascripts 
		'@evegAppBundle/Resources/public/js/repartitionFilters/depFr.js'		
		'@evegAppBundle/Resources/public/js/repartitionFilters/europe.js'
		'@evegAppBundle/Resources/public/js/maps/*'
		'js/maps/*'
		'@evegAppBundle/Resources/public/js/limitVisibleItems.js'
		'@evegAppBundle/Resources/public/js/cacheMap/cacheMap.js'
		'@evegAppBundle/Resources/public/js/feedback/feedback.js'
		'@evegAppBundle/Resources/public/js/feedback/feedbackDoShowOnePage.js'
		'@evegAppBundle/Resources/public/js/compare.js'
		'js/bootstrap-tour.min.js'
		%}
		<script>
			// Repartition filters var
			appSessionSF2DepFrFilter = '{{ app.session.get("depFrFilter") | raw }}';
			appSessionSF2UeFilter    = '{{ app.session.get("ueFilter") | raw }}';
			// Cache map var
			syntaxonName = "{{ syntaxon.syntaxonName }}";
			syntaxonId = "{{ syntaxon.id }}";
			//
		</script>
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- Limit visible items -->
	<script>
		limitResults(3, ".synonymsShowAll", ".synonymBox", ".panelSynonymsHeader");
		limitResults(3, ".filesShowAll", ".fileBox", ".panelFilesHeader");
		limitResults(3, ".bibliosShowAll", ".biblioBox", ".panelBibliosHeader");
		limitResults(5, ".ecologyShowAll", ".ecologyBox", ".panelEcologyHeader");
		limitResults(10, ".speciesShowAll", ".speciesBox", ".panelSpeciesHeader");
	</script>

	<!-- DepFr map-->
	<script>
		var repDepFr = '{{ repDepFrJson | raw }}';
		createMapDepFr(document.getElementById('mapDepFr'),
			           document.getElementById('mapDepFrHoverLegend'),
			           document.getElementById('mapDepFrLegend'),
			           repDepFr,
			           0.55);
		$("#mapDepFrLegend").hide();
		$("#mapDepFrToggleLegend").click(function(){
			$("#mapDepFrLegend").toggle();
		});
	</script>
	<!-- UE map -->
	<script>
		var repUE = '{{ repUeJson | raw }}';
		createMapEurope(document.getElementById('mapEurope'),
						document.getElementById('mapEuropeHoverLegend'),
						document.getElementById('mapEuropeLegend'),
						repUE,
						0.55);
		$("#mapEuropeLegend").hide();
		$("#mapEuropeToggleLegend").click(function(){
			$("#mapEuropeLegend").toggle();
		});
	</script>

	<!-- Bootstrap tour-->
	<script>
		var tour = new Tour({
			steps: [
				{
					orphan: true,
					title: "Bienvenue",
					content: "Faisons un tour des fonctionnalités du site !",
					backdrop: true
				},
				{
					element: "#divTree",
					title: "Arbre de navigation",
					content: "Cette arboresence vous permet de naviguer dans la classification des végétations. Pour ouvrir un répertoire, cliquez dessus. Pour afficher la fiche correspondante, faites un double clic.",
					backdrop: true,
					placement: 'right'
				},
				{
					element: "#cardView",
					title: "Fiche",
					content: "C'est ici que vous trouverez toutes les informations à propos de  la végétation.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: ".cardHeader",
					title: "Titre",
					content: "Le nom latin de la végétation et sa dénomiation écologique, c'est un bon début...",
					backdrop: true,
					placement: 'bottom'
				},
				{
					element: ".flexBreadcrumb",
					title: "Classification",
					content: "Les végétations des niveaux supérieurs sont ici. Vous ne serez jamais perdus !",
					backdrop: true,
					placement: 'left',
					animation: false
				},
				{
					element: ".flexBreadcrumb",
					title: "Couleurs",
					content: "Au fait, nous avons un code couleur (celui de baseveg) pour chaque niveau dans la classification. Rouge pour la classe, bleu pour l'ordre, vert pour l'alliance et jaune pour l'association.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: "#panel-synonyms",
					title: "Synonymes",
					content: "Vous pouvez passez la souris au dessus du type de synonyme, en début de ligne, pour avoir plus de détails.",
					backdrop: true,
					placement: 'left'
				},
				/*{
					element: "#panel-ecology",
					title: "Caractéristiques écologiques",
					content: "...",
					backdrop: true,
					placement: 'left'
				},*/
				{
					element: "#panel-floristic",
					title: "Cortège floristique",
					content: "Le cortège floristique est extrait de baseflor.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: "#panel-resources",
					title: "Ressources",
					content: "Les ressources sont ajoutés par les contributeurs. Il s'agit de tableaux diagnostiques ou de documents PDF. Si vous avez créé un compte utilisateur, vous pouvez également ajouter des documents.",
					backdrop: true,
					placement: 'left'
				},
				/*{
					element: "#panel-bibliography",
					title: "Bibliographie",
					content: "Les synonymes sont pris en compte dans la bibliographie.",
					backdrop: true,
					placement: 'left'
				},*/
				{
					element: "#panel-photo",
					title: "Illustrations",
					content: "Comme les resources, les photos sont ajoutées par les contributeurs.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: "#panels-map",
					title: "Cartes de répartition",
					content: "En un coup d'oeil, la répartition de la végétation en France métropolitaine et en Europe. Vous pouvez afficher la légende sous chaque carte.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: "#panel-ecoValences",
					title: "Valences écologiques",
					content: "Les valences écologiques sont calculées automatiquement à partir du cortège floristique (... donc depuis baseflor si vous avez bien suivi).",
					backdrop: true,
					placement: 'left'
				},
				{
					orphan: true,
					title: "Encore quelques détails...",
					content: "Nous avons presque terminé notre visite mais j'aimerais vous montrer encore quelques détails...",
					backdrop: true
				},
				{
					element: "#panel-mapFr-iconComment",
					title: "Il manque votre département ?",
					content: "Vous avez déjà vu cette végétation dans votre département et elle n'apparait pas ici ? N'hésitez pas à nous envoyer une remarque ! (Ca fonctionne également pour les pays).",
					backdrop: true,
					placement: 'left'
				},
				{
					element: ".options_panel",
					title: "Options",
					content: "Ces icônes sont petites mais permettent beaucoup de choses : filtrer entièrement les données du site, signaler un problème, comparer deux végétations ou encore télécharger la fiche en version PDF... Prenez le temps d'y revenir plus tard.",
					backdrop: true,
					placement: 'left'
				},
				{
					element: ".ecologyShowAll",
					title: "Afficher tout",
					content: "Nous avons essayé de concevoir une interface dense mais lisible. Plusieurs champs, trop longs pour être affichés par défaut, sont réduits. N'oubliez pas de cliquer ici pour ne rien manquer.",
					backdrop: true,
					placement: 'left'
				}
				
			],
			storage: false
		});

		// Initialize the tour
		tour.init();

		// Start the tour
		tour.start(true);
	</script>

{% endblock %}