{# src/eveg/UserRepartitionBundle/Resources/views/Admin/unresolved.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %}
	Données non validées | {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="row whiteRow">

		<div class="jumbotron admin">
			<h1>Données non validées</h1>
		</div>

		<div class="col-md-12">
			<div class="row">
				{% for repartition in repartitions %}
					<div class="col-md-6">
						<div class="thumbnail thumb-orange">
							<p class="text-muted">#{{ repartition.id }}</p>
							<p><b>Syntaxon :</b> {{ repartition.syntaxonCore.syntaxon }}</p>
							<p><b>Par :</b> {{ repartition.submitedBy }}</p>
							<p><b>Dep. :</b> {{ getRepFrFullNameFromShape(repartition.shape) }}</p>
							<p><b>Valeur :</b> {{ getRepartitionDescriptionFromValue(repartition.value) }}</p>
							<p><b>Source :</b>
							{% if repartition.biblio is defined and repartition.biblio is not empty %}
								{{ repartition.biblio.reference }}
							{% elseif repartition.selfObservation is defined and repartition.selfObservation is not empty%}
								Observation personnelle de l'auteur
							{% else %}
								??
							{% endif %}</p>
							<p><b>Commentaire :</b> {{ repartition.comment }}</p>
							<p><b>Conflit(s) :</b> {{ repartition.conflicts|length }}</p>
							<p><b>État : </b>
							{% include 'evegUserRepartitionBundle:Admin/Fragments:showEnabledAndActivatedIcons.html.twig' with { 'repartition': repartition } only %}

							{% set hasConflicts = false %}
							{% set hasConflicts = (repartition.conflicts|length > 0) %}

							<div class="text-center">
								{% if repartition.enabled %}
									<a class="no-style" href="{{ path('eveg_repartition_disable_data', {'id': repartition.id}) }}">
										<button type="button" class="btn btn-warning btn-sm">Désactiver</button>
									</a>
								{% else %}
									<a class="no-style" href="{{ path('eveg_repartition_enable_data', {'id': repartition.id}) }}">
										<button type="button" class="btn btn-primary btn-sm">Activer</button>
									</a>
								{% endif %}

								{% if hasConflicts == false %}
									{% if repartition.validated %}
										<a class="no-style" href="{{ path('eveg_repartition_unvalidate_data', {'id': repartition.id}) }}">
											<button type="button" class="btn btn-warning btn-sm">Invalider</button>
										</a>
									{% else %}
										<a class="no-style" href="{{ path('eveg_repartition_validate_data', {'id': repartition.id}) }}"> 
											<button type="button" class="btn btn-primary btn-sm">Valider</button>
										</a>
									{% endif %}
								{% endif %}
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}