{# src/eveg/PagesBundle/Resources/views/Admin/showPageFr.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %} {{ page.titleFr }} | {{ parent() }} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite,compass, ?yui_css" output="css/pages.css"
		"@evegPagesBundle/Resources/public/css/pages.scss"
		%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<div class="row whiteRow">
		<div class="jumbotron contact">
			<h1>{{ page.titleFr }} </h1>
		</div>
	</div>
	{{ page.contentFr|raw }}
{% endblock %}