{# src/eveg/UserBundle/Resources/views/Profile/edit.html.twig #}
{# overload edit.html.twig from FOSUserBundle #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ 'profile.show.title'|trans({}, 'FOSUserBundle') }} | {{ parent() }}
{% endblock %}

{% block body %}

	<div id="form_login" class="col-md-offset-3 col-md-5 col-sm-offset-3 col-sm-6 col-xs-12">
		{% trans_default_domain 'FOSUserBundle' %}

		{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

			<div class="form-group login-title">
				<h2>
					{{ 'profile.edit.title'|trans({}, 'FOSUserBundle') }}
				</h2>
			</div>
		    {#{{ form_widget(form) }}#}
		    <div class="row row-no-margin">
		    	<div class="col-md-12">
			    	<li class="no-style">
			    		<div class="row row-no-margin form-horizontal">
			    			<div class="col-sm-5">
				    			{{ form_label(form.username) }}
				    			<span class="text-danger">{{ form_errors(form.username) }}<span>
				    		</div>
				    		<div class="col-sm-7">
			    				{{ form_widget(form.username) }}
			    			</div>
			    		</div>
			    		<div class="row row-no-margin form-horizontal">
			    			<div class="col-sm-5">
				    			{{ form_label(form.email) }}
				    			<span class="text-danger">{{ form_errors(form.email) }}<span>
				    		</div>
				    		<div class="col-sm-7">
			    				{{ form_widget(form.email) }}
			    			</div>
			    		</div>
			    		<div class="row row-no-margin form-horizontal">
			    			<div class="col-sm-5">
				    			{{ form_label(form.current_password) }}
				    			<span class="text-danger">{{ form_errors(form.current_password) }}<span>
				    		</div>
				    		<div class="col-sm-7">
			    				{{ form_widget(form.current_password) }}
			    			</div>
			    		</div>
			    	</li>
			    </div>
		    </div>
		    <div class="row row-no-margin row-submit-button">
		    	<div class="col-md-12">
			        <button type="submit button" class="btn btn-primary pull-right" value="{{ 'profile.edit.submit'|trans }}">
			        	{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
			        </button>
		        </div>
		    </div>
		{{ form_end(form) }}
		
	</div>

{% endblock %}
