{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block body -%}
    <h1>SyntaxonCore</h1>
    {#{{ dump(entity) }}#}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fixedcode</th>
                <td>{{ entity.fixedCode }}</td>
            </tr>
            <tr>
                <th>Catminatcode</th>
                <td>{{ entity.catminatCode }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Syntaxonname</th>
                <td>{{ entity.syntaxonName }}</td>
            </tr>
            <tr>
                <th>Syntaxonauthor</th>
                <td>{{ entity.syntaxonAuthor }}</td>
            </tr>
            <tr>
                <th>Commonname</th>
                <td>{{ entity.commonName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_syntaxon') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_syntaxon_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
